## Pandas-tehtävät OSA 2

#### Tehtävä 1. Lue edellisen harjoituksen lopussa tallennetun data_export.csv-tiedoston sisältö dataframeen siten, että Unnamed 0 -saraketta ei synny tiedoston lukemisen yhteydessä.

In [34]:
import pandas as pd
import numpy as np

In [38]:
dataset = pd.read_csv("data_export.csv", index_col=0)
dataset

     sarake1   sarake2   sarake3
0        NaN  0.380058  0.919389
1   0.922251  0.490721  0.133932
3   0.363707  0.878349  0.485700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8   0.303299  0.096971  0.451031
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
12  0.319906  0.489200  0.990319
13  0.780267  0.458454  0.053428
15  0.935875  0.698276  0.446885
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Tehtävä 2. Pudota rivit, joissa esiintyy nan-arvo

In [39]:
#Käytetään dropna() poistamaan tyhjät rivit
dataset.dropna(axis=0, inplace=True)
dataset

     sarake1   sarake2   sarake3
1   0.922251  0.490721  0.133932
3   0.363707  0.878349  0.485700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8   0.303299  0.096971  0.451031
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
12  0.319906  0.489200  0.990319
13  0.780267  0.458454  0.053428
15  0.935875  0.698276  0.446885
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Tehtävä 3. Muuta viidennen ja kymmenennen rivin kaikiksi arvoiksi nan

In [40]:
#Käytetään iloc:ia rivien ja sarakkeiden valitsemiseen
dataset.iloc[[4,9],:] = np.nan
#Tulostetaan Dataframe
dataset

     sarake1   sarake2   sarake3
1   0.922251  0.490721  0.133932
3   0.363707  0.878349  0.485700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8        NaN       NaN       NaN
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
12  0.319906  0.489200  0.990319
13  0.780267  0.458454  0.053428
15       NaN       NaN       NaN
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Tehtävä 4. Tulosta nan-arvojen määrä jokaisesta sarakkeesta DataFrame-objektista

In [41]:
#Tarkistetaan isnull() -metodilla nan-arvon ja lasketaan sum() -metodilla yhteen
dataset.isnull().sum()

sarake1    2
sarake2    2
sarake3    2
dtype: int64

#### Tehtävä 5. Täytä edellä tehdyt nan-arvot lineaarisella interpolaatiolla

In [42]:
#Käytetään interpolate() metodia
dataset.interpolate(method="linear", inplace=True)
dataset

     sarake1   sarake2   sarake3
1   0.922251  0.490721  0.133932
3   0.363707  0.878349  0.485700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8   0.600548  0.721495  0.518241
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
12  0.319906  0.489200  0.990319
13  0.780267  0.458454  0.053428
15  0.526730  0.379381  0.410849
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Tehtävä 6. Vaihda `sarake1`:n viimeiseksi arvoksi 94 ja `sarake3`:n viimeiseksi arvoksi 45

In [43]:
#
dataset.iloc[-1,[0,2]] = 94, 45
dataset

      sarake1   sarake2    sarake3
1    0.922251  0.490721   0.133932
3    0.363707  0.878349   0.485700
6    0.323134  0.036466   0.186775
7    0.467610  0.850993   0.377558
8    0.600548  0.721495   0.518241
9    0.733485  0.591996   0.658924
10   0.641628  0.251886   0.274987
12   0.319906  0.489200   0.990319
13   0.780267  0.458454   0.053428
15   0.526730  0.379381   0.410849
17   0.273193  0.300307   0.768270
18   0.467060  0.225161   0.911570
20   0.300589  0.455980   0.292225
21   0.859970  0.346539   0.364629
22   0.842364  0.093485   0.662066
23   0.781693  0.573344   0.815692
24  94.000000  0.945625  45.000000

#### Tehtävä 7. Lisää uusi sarake DataFrame-objektiin (`sarake4`), joka koostuu sarakkeiden `sarake1` ja `sarake3` summasta

In [44]:
#
arvot = dataset["sarake1"]+dataset["sarake3"]
dataset.insert(3,"sarake4",arvot,True)
dataset

      sarake1   sarake2    sarake3     sarake4
1    0.922251  0.490721   0.133932    1.056182
3    0.363707  0.878349   0.485700    0.849407
6    0.323134  0.036466   0.186775    0.509909
7    0.467610  0.850993   0.377558    0.845168
8    0.600548  0.721495   0.518241    1.118788
9    0.733485  0.591996   0.658924    1.392409
10   0.641628  0.251886   0.274987    0.916615
12   0.319906  0.489200   0.990319    1.310225
13   0.780267  0.458454   0.053428    0.833695
15   0.526730  0.379381   0.410849    0.937579
17   0.273193  0.300307   0.768270    1.041463
18   0.467060  0.225161   0.911570    1.378630
20   0.300589  0.455980   0.292225    0.592814
21   0.859970  0.346539   0.364629    1.224599
22   0.842364  0.093485   0.662066    1.504430
23   0.781693  0.573344   0.815692    1.597386
24  94.000000  0.945625  45.000000  139.000000

#### Tehtävä 8. Resetoi DataFrame-objektin indeksi ja tulosta rivien määrä

In [325]:
#Käytetään reset_index() metodia indeksin resetoimiseen

#### Tehtävä 9. Tee DataFrame-objektin mittainen aikasarjadata haluamallasi aikavälillä ja tee siitä indeksisarake

In [326]:
#

#### Tehtävä 10. Muuta `sarake1` kaikki arvot merkkijonoiksi, joissa jokainen nolla on korvattu isolla 'ND'-kirjainyhdistelmällä.

In [327]:
#

#### Tehtävä 11. Tee DataFrame-objektista kopio, jonka sarakkeiden nimet on muutettu seuraaviksi : `sarake5`, `sarake6`, `sarake7`, `sarake8`. Tämän jälkeen tee yksi iso DataFrame-objekti, joka koostuu alkuperäisestä DataFramesta sekä kopiosta niin, että ne on lisätty vierekkäin.


| sarake1        | sarake2           | sarake3  | sarake4 | sarake5      | sarake6 | sarake7 | sarake8 |
| ------------- |:-------------:| -----:| ------------- |:-------------:| -----:|-----:|-----:|
| 0.1      | 0.2 | 0.3 | ... | ...  | ... | ... | ... |

In [328]:
#

#### Tehtävä 12. Sijoita `sarake5`:n viimeinen arvo muuttujaan sekä `sarake3`:n viimeinen arvo erilliseen muuttujaan juuri tehdystä DataFrame-objektista merkkijonomuodossa. Yhdistä kyseiset muuttujat merkkijonona ja poista kaksi viimeistä merkkiä lopputuloksesta. Lopuksi poista kaikki pisteet `.`.

In [329]:
#