## Pandas-tehtävät OSA 2

#### Tehtävä 1. Lue edellisen harjoituksen lopussa tallennetun data_export.csv-tiedoston sisältö dataframeen siten, että Unnamed 0 -saraketta ei synny tiedoston lukemisen yhteydessä.

In [14]:
import pandas as pd
import numpy as np

In [15]:
dataset = pd.read_csv("data_export.csv", index_col=0)
dataset

     sarake1   sarake2   sarake3
0        NaN  0.380058  0.919389
1   0.922251  0.490721  0.133932
3   0.363707  0.878349  0.485700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8   0.303299  0.096971  0.451031
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
12  0.319906  0.489200  0.990319
13  0.780267  0.458454  0.053428
15  0.935875  0.698276  0.446885
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Tehtävä 2. Pudota rivit, joissa esiintyy nan-arvo

In [16]:
#Käytetään dropna() poistamaan tyhjät rivit
dataset.dropna(axis=0, inplace=True)
dataset

     sarake1   sarake2   sarake3
1   0.922251  0.490721  0.133932
3   0.363707  0.878349  0.485700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8   0.303299  0.096971  0.451031
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
12  0.319906  0.489200  0.990319
13  0.780267  0.458454  0.053428
15  0.935875  0.698276  0.446885
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Tehtävä 3. Muuta viidennen ja kymmenennen rivin kaikiksi arvoiksi nan

In [17]:
#Käytetään iloc:ia rivien ja sarakkeiden valitsemiseen
dataset.iloc[[4,8],:] = np.nan
#Tulostetaan Dataframe
dataset

     sarake1   sarake2   sarake3
1   0.922251  0.490721  0.133932
3   0.363707  0.878349  0.485700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8        NaN       NaN       NaN
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
12  0.319906  0.489200  0.990319
13       NaN       NaN       NaN
15  0.935875  0.698276  0.446885
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Tehtävä 4. Tulosta nan-arvojen määrä jokaisesta sarakkeesta DataFrame-objektista

In [18]:
#Tarkistetaan isnull() -metodilla nan-arvon ja lasketaan sum() -metodilla yhteen
dataset.isnull().sum()

sarake1    2
sarake2    2
sarake3    2
dtype: int64

#### Tehtävä 5. Täytä edellä tehdyt nan-arvot lineaarisella interpolaatiolla

In [19]:
#Käytetään interpolate() metodia
dataset.interpolate(method="linear", inplace=True)
dataset

     sarake1   sarake2   sarake3
1   0.922251  0.490721  0.133932
3   0.363707  0.878349  0.485700
6   0.323134  0.036466  0.186775
7   0.467610  0.850993  0.377558
8   0.600548  0.721495  0.518241
9   0.733485  0.591996  0.658924
10  0.641628  0.251886  0.274987
12  0.319906  0.489200  0.990319
13  0.627890  0.593738  0.718602
15  0.935875  0.698276  0.446885
17  0.273193  0.300307  0.768270
18  0.467060  0.225161  0.911570
20  0.300589  0.455980  0.292225
21  0.859970  0.346539  0.364629
22  0.842364  0.093485  0.662066
23  0.781693  0.573344  0.815692
24  0.788949  0.945625  0.852690

#### Tehtävä 6. Vaihda `sarake1`:n viimeiseksi arvoksi 94 ja `sarake3`:n viimeiseksi arvoksi 45

In [20]:
# Valitaan ilocilla rivt ja sarakkeet ja syötetään niille uudet arvot
dataset.iloc[-1,[0,2]] = 94, 45
dataset

      sarake1   sarake2    sarake3
1    0.922251  0.490721   0.133932
3    0.363707  0.878349   0.485700
6    0.323134  0.036466   0.186775
7    0.467610  0.850993   0.377558
8    0.600548  0.721495   0.518241
9    0.733485  0.591996   0.658924
10   0.641628  0.251886   0.274987
12   0.319906  0.489200   0.990319
13   0.627890  0.593738   0.718602
15   0.935875  0.698276   0.446885
17   0.273193  0.300307   0.768270
18   0.467060  0.225161   0.911570
20   0.300589  0.455980   0.292225
21   0.859970  0.346539   0.364629
22   0.842364  0.093485   0.662066
23   0.781693  0.573344   0.815692
24  94.000000  0.945625  45.000000

#### Tehtävä 7. Lisää uusi sarake DataFrame-objektiin (`sarake4`), joka koostuu sarakkeiden `sarake1` ja `sarake3` summasta

In [21]:
# Käytetään insert:iä uuden sarakkeen lisäämiseen
arvot = dataset["sarake1"] + dataset["sarake3"]
dataset.insert(3,"sarake4",arvot,True)
dataset

      sarake1   sarake2    sarake3     sarake4
1    0.922251  0.490721   0.133932    1.056182
3    0.363707  0.878349   0.485700    0.849407
6    0.323134  0.036466   0.186775    0.509909
7    0.467610  0.850993   0.377558    0.845168
8    0.600548  0.721495   0.518241    1.118788
9    0.733485  0.591996   0.658924    1.392409
10   0.641628  0.251886   0.274987    0.916615
12   0.319906  0.489200   0.990319    1.310225
13   0.627890  0.593738   0.718602    1.346492
15   0.935875  0.698276   0.446885    1.382760
17   0.273193  0.300307   0.768270    1.041463
18   0.467060  0.225161   0.911570    1.378630
20   0.300589  0.455980   0.292225    0.592814
21   0.859970  0.346539   0.364629    1.224599
22   0.842364  0.093485   0.662066    1.504430
23   0.781693  0.573344   0.815692    1.597386
24  94.000000  0.945625  45.000000  139.000000

#### Tehtävä 8. Resetoi DataFrame-objektin indeksi ja tulosta rivien määrä

In [22]:
#Käytetään reset_index() metodia indeksin resetoimiseen
dataset.reset_index(drop=True, inplace=True)
len(dataset)

17

#### Tehtävä 9. Tee DataFrame-objektin mittainen aikasarjadata haluamallasi aikavälillä ja tee siitä indeksisarake

In [10]:
# Käytetään data_range:a aikasarjadatan tekemiseen
timeserie = pd.date_range(start="1/1/2020", periods=len(dataset), freq='M')
dataset.set_index(timeserie,inplace=True)
dataset

              sarake1   sarake2    sarake3     sarake4
2020-01-31   0.922251  0.490721   0.133932    1.056182
2020-02-29   0.363707  0.878349   0.485700    0.849407
2020-03-31   0.323134  0.036466   0.186775    0.509909
2020-04-30   0.467610  0.850993   0.377558    0.845168
2020-05-31   0.600548  0.721495   0.518241    1.118788
2020-06-30   0.733485  0.591996   0.658924    1.392409
2020-07-31   0.641628  0.251886   0.274987    0.916615
2020-08-31   0.319906  0.489200   0.990319    1.310225
2020-09-30   0.627890  0.593738   0.718602    1.346492
2020-10-31   0.935875  0.698276   0.446885    1.382760
2020-11-30   0.273193  0.300307   0.768270    1.041463
2020-12-31   0.467060  0.225161   0.911570    1.378630
2021-01-31   0.300589  0.455980   0.292225    0.592814
2021-02-28   0.859970  0.346539   0.364629    1.224599
2021-03-31   0.842364  0.093485   0.662066    1.504430
2021-04-30   0.781693  0.573344   0.815692    1.597386
2021-05-31  94.000000  0.945625  45.000000  139.000000

#### Tehtävä 10. Muuta `sarake1` kaikki arvot merkkijonoiksi, joissa jokainen nolla on korvattu isolla 'ND'-kirjainyhdistelmällä.

In [11]:
# Muutetaan sarake1:n arvot merkkijonoksi astype() metodilla 
dataset["sarake1"] = dataset["sarake1"].astype(str)
# Korvataan nollat 'NP'-kirjaimilla käyttäen str.replace:a
dataset['sarake1'] = dataset['sarake1'].str.replace('0','ND')

dataset

                            sarake1   sarake2    sarake3     sarake4
2020-01-31    ND.92225ND592ND455354  0.490721   0.133932    1.056182
2020-02-29     ND.3637ND65716836567  0.878349   0.485700    0.849407
2020-03-31     ND.32313386814ND7583  0.036466   0.186775    0.509909
2020-04-30   ND.4676ND99556ND15ND96  0.850993   0.377558    0.845168
2020-05-31   ND.6NDND54763516866ND7  0.721495   0.518241    1.118788
2020-06-30      ND.7334853147358118  0.591996   0.658924    1.392409
2020-07-31     ND.641628229ND317612  0.251886   0.274987    0.916615
2020-08-31   ND.3199ND554258ND25ND8  0.489200   0.990319    1.310225
2020-09-30   ND.62789NDND69379ND368  0.593738   0.718602    1.346492
2020-10-31      ND.9358745961778226  0.698276   0.446885    1.382760
2020-11-30    ND.2731929NDND6731526  0.300307   0.768270    1.041463
2020-12-31  ND.467ND6NDND4ND1299349  0.225161   0.911570    1.378630
2021-01-31  ND.3NDND5888788521NDND1  0.455980   0.292225    0.592814
2021-02-28    ND.8599699ND1ND91ND25  0.346539   0.364629    1.224599
2021-03-31     ND.8423644152934ND61  0.093485   0.662066    1.504430
2021-04-30     ND.78169332392ND8187  0.573344   0.815692    1.597386
2021-05-31                    94.ND  0.945625  45.000000  139.000000

#### Tehtävä 11. Tee DataFrame-objektista kopio, jonka sarakkeiden nimet on muutettu seuraaviksi : `sarake5`, `sarake6`, `sarake7`, `sarake8`. Tämän jälkeen tee yksi iso DataFrame-objekti, joka koostuu alkuperäisestä DataFramesta sekä kopiosta niin, että ne on lisätty vierekkäin.


| sarake1        | sarake2           | sarake3  | sarake4 | sarake5      | sarake6 | sarake7 | sarake8 |
| ------------- |:-------------:| -----:| ------------- |:-------------:| -----:|-----:|-----:|
| 0.1      | 0.2 | 0.3 | ... | ...  | ... | ... | ... |

In [12]:
#
dataframe_copy = dataset.copy()
dataframe_copy.rename(columns = {'sarake1':'sarake5','sarake2':'sarake6','sarake3':'sarake7','sarake4':'sarake8'}, inplace = True)
newframe = pd.concat([dataset, dataframe_copy], axis=1, join='inner')
newframe

,sarake1,sarake2,sarake3,sarake4,sarake5,sarake6,sarake7,sarake8
2020-01-31,ND.92225ND592ND455354,0.490721,0.133932,1.056182,ND.92225ND592ND455354,0.490721,0.133932,1.056182
2020-02-29,ND.3637ND65716836567,0.878349,0.485700,0.849407,ND.3637ND65716836567,0.878349,0.485700,0.849407
2020-03-31,ND.32313386814ND7583,0.036466,0.186775,0.509909,ND.32313386814ND7583,0.036466,0.186775,0.509909
2020-04-30,ND.4676ND99556ND15ND96,0.850993,0.377558,0.845168,ND.4676ND99556ND15ND96,0.850993,0.377558,0.845168
2020-05-31,ND.6NDND54763516866ND7,0.721495,0.518241,1.118788,ND.6NDND54763516866ND7,0.721495,0.518241,1.118788
2020-06-30,ND.7334853147358118,0.591996,0.658924,1.392409,ND.7334853147358118,0.591996,0.658924,1.392409
2020-07-31,ND.641628229ND317612,0.251886,0.274987,0.916615,ND.641628229ND317612,0.251886,0.274987,0.916615
2020-08-31,ND.3199ND554258ND25ND8,0.489200,0.990319,1.310225,ND.3199ND554258ND25ND8,0.489200,0.990319,1.310225
2020-09-30,ND.62789NDND69379ND368,0.593738,0.718602,1.346492,ND.62789NDND69379ND368,0.593738,0.718602,1.346492
2020-10-31,ND.9358745961778226,0.698276,0.446885,1.382760,ND.9358745961778226,0.698276,0.446885,1.382760
2020-11-30,ND.2731929NDND6731526,0.300307,0.768270,1.041463,ND.2731929NDND6731526,0.300307,0.768270,1.041463
2020-12-31,ND.467ND6NDND4ND1299349,0.225161,0.911570,1.378630,ND.467ND6NDND4ND1299349,0.225161,0.911570,1.378630
2021-01-31,ND.3NDND5888788521NDND1,0.455980,0.292225,0.592814,ND.3NDND5888788521NDND1,0.455980,0.292225,0.592814
2021-02-28,ND.8599699ND1ND91ND25,0.346539,0.364629,1.224599,ND.8599699ND1ND91ND25,0.346539,0.364629,1.224599
2021-03-31,ND.8423644152934ND61,0.093485,0.662066,1.504430,ND.8423644152934ND61,0.093485,0.662066,1.504430
2021-04-30,ND.78169332392ND8187,0.573344,0.815692,1.597386,ND.78169332392ND8187,0.573344,0.815692,1.597386
2021-05-31,94.ND,0.945625,45.000000,139.000000,94.ND,0.945625,45.000000,139.000000

#### Tehtävä 12. Sijoita `sarake5`:n viimeinen arvo muuttujaan sekä `sarake3`:n viimeinen arvo erilliseen muuttujaan juuri tehdystä DataFrame-objektista merkkijonomuodossa. Yhdistä kyseiset muuttujat merkkijonona ja poista kaksi viimeistä merkkiä lopputuloksesta. Lopuksi poista kaikki pisteet `.`.

In [13]:
#
last_value = newframe.iloc[-1,4]
last_value2 = newframe.iloc[-1,2].astype(str)

new_value = last_value + last_value2
new_value = new_value[:len(new_value)-2]
new_value.replace('.','')

'94ND45'