## SQLite-tehtävät

#### Tehtävä 1. Lisää tarvittavat kirjastot ja tee `testi.db` niminen tietokanta (SQLite3)

In [1]:
#
import sqlite3

In [2]:
db_testi  = sqlite3.connect("testi.db")

#### Tehtävä 2. Luo yhteys tietokantaan

In [3]:
connection = db_testi.cursor()

#### Tehtävä 3. Tee tietokantaan seuraavanlainen taulu, jonka nimi on `henkilotaulu`:
    
| Nimi        | Ika           | Kengankoko  |
| ------------- |-------------| -----|
| Teppo      | 88 | 47 |
| Matti      | 34     | 39 |
| Ilona | 41      |    36 |
| Sonja | 32      |    37 |

In [6]:
# Taulu kolmella sarakkeella
connection.execute("""CREATE TABLE if not exists henkilotaulu (Nimi, Ika, Kengankoko)""")

# Tietokantaan lisättävä data
data_rows = [("Teppo", 88, 47), ("Matti", 34, 39), ("Ilona", 41, 36), ("Sonja", 32, 37)]

# Datarivien lisääminen
for data_row in data_rows:
    connection.execute('''INSERT INTO henkilotaulu VALUES {0}'''.format(data_row))

# Tallennetaan muutokset
db_testi.commit()

#### Tehtävä 4. Kun Taulu on tehty, niin hae taulu Pandasin DataFrame-objektiin ja lisää siihen sarake `Hatunkoko`, jonka jälkeen täytä se valitsemillasi arvoilla

In [5]:
#

#### Tehtävä 5. Tee DataFrame-objektista kopio, jonka nimi on `henkilotaulukopio` ja lisää siihen rivi valitsemillasi arvoilla. Tallenna tämä muokattu dataframe-objekti nyt tietokantaan nimellä `henkilotaulukopio` (tulee edellisen taulun rinnalle).

In [6]:
#

#### Tehtävä 6. Tallenna lopuksi tietokannan muutokset ja sulje yhteys

In [7]:
#