## Pandas-tehtävät OSA 2

#### Tehtävä 1. Lue edellisen harjoituksen lopussa tallennetun data_export.csv-tiedoston sisältö dataframeen siten, että Unnamed 0 -saraketta ei synny tiedoston lukemisen yhteydessä.

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("data_export.csv")
dataset

     sarake1   sarake2   sarake3
0        NaN  0.380058  0.919389
1   0.922251  0.490721  0.133932
2   0.363707  0.878349  0.485700
3   0.323134  0.036466  0.186775
4   0.467610  0.850993  0.377558
5   0.303299  0.096971  0.451031
6   0.733485  0.591996  0.658924
7   0.641628  0.251886  0.274987
8   0.319906  0.489200  0.990319
9   0.780267  0.458454  0.053428
10  0.935875  0.698276  0.446885
11  0.273193  0.300307  0.768270
12  0.467060  0.225161  0.911570
13  0.300589  0.455980  0.292225
14  0.859970  0.346539  0.364629
15  0.842364  0.093485  0.662066
16  0.781693  0.573344  0.815692
17  0.788949  0.945625  0.852690

#### Tehtävä 2. Pudota rivit, joissa esiintyy nan-arvo

In [319]:
#

#### Tehtävä 3. Muuta viidennen ja kymmenennen rivin kaikiksi arvoiksi nan

In [320]:
#

#### Tehtävä 4. Tulosta nan-arvojen määrä jokaisesta sarakkeesta DataFrame-objektista

In [321]:
#

#### Tehtävä 5. Täytä edellä tehdyt nan-arvot lineaarisella interpolaatiolla

In [322]:
#

#### Tehtävä 6. Vaihda `sarake1`:n viimeiseksi arvoksi 94 ja `sarake3`:n viimeiseksi arvoksi 45

In [323]:
#

#### Tehtävä 7. Lisää uusi sarake DataFrame-objektiin (`sarake4`), joka koostuu sarakkeiden `sarake1` ja `sarake3` summasta

In [324]:
#

#### Tehtävä 8. Resetoi DataFrame-objektin indeksi ja tulosta rivien määrä

In [325]:
#

#### Tehtävä 9. Tee DataFrame-objektin mittainen aikasarjadata haluamallasi aikavälillä ja tee siitä indeksisarake

In [326]:
#

#### Tehtävä 10. Muuta `sarake1` kaikki arvot merkkijonoiksi, joissa jokainen nolla on korvattu isolla 'ND'-kirjainyhdistelmällä.

In [327]:
#

#### Tehtävä 11. Tee DataFrame-objektista kopio, jonka sarakkeiden nimet on muutettu seuraaviksi : `sarake5`, `sarake6`, `sarake7`, `sarake8`. Tämän jälkeen tee yksi iso DataFrame-objekti, joka koostuu alkuperäisestä DataFramesta sekä kopiosta niin, että ne on lisätty vierekkäin.


| sarake1        | sarake2           | sarake3  | sarake4 | sarake5      | sarake6 | sarake7 | sarake8 |
| ------------- |:-------------:| -----:| ------------- |:-------------:| -----:|-----:|-----:|
| 0.1      | 0.2 | 0.3 | ... | ...  | ... | ... | ... |

In [328]:
#

#### Tehtävä 12. Sijoita `sarake5`:n viimeinen arvo muuttujaan sekä `sarake3`:n viimeinen arvo erilliseen muuttujaan juuri tehdystä DataFrame-objektista merkkijonomuodossa. Yhdistä kyseiset muuttujat merkkijonona ja poista kaksi viimeistä merkkiä lopputuloksesta. Lopuksi poista kaikki pisteet `.`.

In [329]:
#