## Harjoitustyö

## Vaihe 1

#### Tehtävä 1. Hae Digitrafficin REST-rajapintapalvelusta (JSON-formaatissa) aktiiviset junat pääteosoitteella `/live-trains` Helsingin asemalta, joiden hakuparametrit ovat seuraavat:
* arrived_trains=10
* departed_trains=10
* include_nonstopping=False

In [1]:
import requests
import pandas as pd

In [2]:
url = "https://rata.digitraffic.fi/api/v1"
endpoint = "/live-trains"
station = "/station/HKI"
search_train = "?arrived_trains=10&departed_trains=10&include_nonstopping=False"

url2 = f"{url}{endpoint}{station}{search_train}"

req = requests.get(url2)
# req.status_code

train_info = req.json()
#train_info

#### Tehtävä 2. Tämän jälkeen lue kyseinen data Pandasin dataframeen ilman muokkaamista, jolloin sarakkeiden otsikot ovat seuraavanlaiset:

 `cancelled`,
 `commuterLineID`,
 `departureDate`,
 `operatorShortCode`,
 `operatorUICCode`,
 `runningCurrently`,
 `timeTableRows`,
 `timetableAcceptanceDate`,
 `timetableType`,
 `trainCategory`,
 `trainNumber`,
 `trainType`,
 `version`

In [3]:
#
train_df = pd.DataFrame(train_info)
train_df

,trainNumber,departureDate,operatorUICCode,operatorShortCode,trainType,trainCategory,commuterLineID,runningCurrently,cancelled,version,timetableType,timetableAcceptanceDate,timeTableRows
0,20,2023-03-16,10,vr,IC,Long-distance,,True,False,285131123863,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'OL', 'stationUICCode': ..."
1,65,2023-03-16,10,vr,IC,Long-distance,,False,False,285131119413,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
2,950,2023-03-16,10,vr,IC,Long-distance,,False,False,285131109353,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'KUT', 'stationUICCode':..."
3,8074,2023-03-16,10,vr,HL,Commuter,A,False,False,285130998865,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'LPV', 'stationUICCode':..."
4,8078,2023-03-16,10,vr,HL,Commuter,A,False,False,285131090300,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'LPV', 'stationUICCode':..."
5,8085,2023-03-16,10,vr,HL,Commuter,A,True,False,285131123324,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
6,8340,2023-03-16,10,vr,HL,Commuter,E,True,False,285131124917,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KLH', 'stationUICCode':..."
7,8343,2023-03-16,10,vr,HL,Commuter,E,False,False,285131116686,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
8,8454,2023-03-16,10,vr,HL,Commuter,U,False,False,285131069608,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KKN', 'stationUICCode':..."
9,8459,2023-03-16,10,vr,HL,Commuter,U,True,False,285131123863,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
10,8642,2023-03-16,10,vr,HL,Commuter,P,False,False,285131008647,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
11,8643,2023-03-16,10,vr,HL,Commuter,P,True,False,285131113389,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
12,8645,2023-03-16,10,vr,HL,Commuter,P,True,False,285131123323,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
13,8651,2023-03-16,10,vr,HL,Commuter,P,True,False,285131122075,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
14,8653,2023-03-16,10,vr,HL,Commuter,P,False,False,285131108827,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
15,8838,2023-03-16,10,vr,HL,Commuter,I,False,False,285131047381,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
16,8840,2023-03-16,10,vr,HL,Commuter,I,True,False,285131124354,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
17,8846,2023-03-16,10,vr,HL,Commuter,I,True,False,285131124354,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
18,8848,2023-03-16,10,vr,HL,Commuter,I,True,False,285131123324,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
19,9078,2023-03-16,10,vr,HL,Commuter,K,False,False,285131038436,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
20,9080,2023-03-16,10,vr,HL,Commuter,K,False,False,285131112184,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
21,9099,2023-03-16,10,vr,HL,Commuter,K,True,False,285131121443,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
22,9103,2023-03-16,10,vr,HL,Commuter,K,True,False,285131119901,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
23,9107,2023-03-16,10,vr,HL,Commuter,K,False,False,285131006305,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
24,9650,2023-03-16,10,vr,HL,Commuter,R,False,False,285131061417,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'RI', 'stationUICCode': ..."
25,9661,2023-03-16,10,vr,HL,Commuter,R,True,False,285131124354,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
26,9824,2023-03-16,10,vr,HL,Commuter,Z,False,False,285131096609,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'LH', 'stationUICCode': ..."
27,9835,2023-03-16,10,vr,HL,Commuter,Z,False,False,285128206340,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
28,60004,2023-03-16,10,vr,SAA,Shunting,,False,False,285131111011,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
29,61044,2023-03-16,10,vr,SAA,Shunting,,True,False,285131123324,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."

#### Tehtävä 3. Poista kaikki muut sarakkeet paitsi `timeTableRows` ja `trainNumber`

In [ ]:
#
# train_pd = train_pd[(train_pd["timeTableRows"]) & (train_pd["trainNumber"])]
# train_pd
train_df = train_df.loc[:,["trainNumber","timeTableRows"]]
train_df

    trainNumber                                      timeTableRows
0            20  [{'stationShortCode': 'OL', 'stationUICCode': ...
1            65  [{'stationShortCode': 'HKI', 'stationUICCode':...
2           950  [{'stationShortCode': 'KUT', 'stationUICCode':...
3          8074  [{'stationShortCode': 'LPV', 'stationUICCode':...
4          8078  [{'stationShortCode': 'LPV', 'stationUICCode':...
5          8085  [{'stationShortCode': 'HKI', 'stationUICCode':...
6          8340  [{'stationShortCode': 'KLH', 'stationUICCode':...
7          8343  [{'stationShortCode': 'HKI', 'stationUICCode':...
8          8454  [{'stationShortCode': 'KKN', 'stationUICCode':...
9          8459  [{'stationShortCode': 'HKI', 'stationUICCode':...
10         8642  [{'stationShortCode': 'HKI', 'stationUICCode':...
11         8643  [{'stationShortCode': 'HKI', 'stationUICCode':...
12         8645  [{'stationShortCode': 'HKI', 'stationUICCode':...
13         8651  [{'stationShortCode': 'HKI', 'stationUICCode':...
14         8653  [{'stationShortCode': 'HKI', 'stationUICCode':...
15         8838  [{'stationShortCode': 'HKI', 'stationUICCode':...
16         8840  [{'stationShortCode': 'HKI', 'stationUICCode':...
17         8846  [{'stationShortCode': 'HKI', 'stationUICCode':...
18         8848  [{'stationShortCode': 'HKI', 'stationUICCode':...
19         9078  [{'stationShortCode': 'KE', 'stationUICCode': ...
20         9080  [{'stationShortCode': 'KE', 'stationUICCode': ...
21         9099  [{'stationShortCode': 'HKI', 'stationUICCode':...
22         9103  [{'stationShortCode': 'HKI', 'stationUICCode':...
23         9107  [{'stationShortCode': 'HKI', 'stationUICCode':...
24         9650  [{'stationShortCode': 'RI', 'stationUICCode': ...
25         9661  [{'stationShortCode': 'HKI', 'stationUICCode':...
26         9824  [{'stationShortCode': 'LH', 'stationUICCode': ...
27         9835  [{'stationShortCode': 'HKI', 'stationUICCode':...
28        60004  [{'stationShortCode': 'HKI', 'stationUICCode':...
29        61044  [{'stationShortCode': 'HKI', 'stationUICCode':...

#### Tehtävä 4. Tämän jälkeen pura `timeTableRows` sarakkeen arvot jokaisesta junasta erikseen (sarakkeen arvo jokaiselle junalle sisältää useampia JSON-objekteja) ja lisää dataan mukaan junan tiedot yksilöivä `trainNumber`

In [13]:
#

t_list = []

for i in train_df["timeTableRows"]:
    for j in i:
        t_list.append(j)
t_list
train_l = pd.DataFrame(t_list)    
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialStop,commercialTrack,cancelled,scheduledTime,actualTime,differenceInMinutes,causes,trainNumber,trainReady,liveEstimateTime,estimateSource
0,OL,370,FI,DEPARTURE,True,True,1,False,2023-03-16T03:21:00.000Z,2023-03-16T03:21:59.000Z,1.0,[],20,"{'source': 'KUPLA', 'accepted': True, 'timesta...",NaN,NaN
1,OLL,1351,FI,ARRIVAL,False,NaN,,False,2023-03-16T03:26:00.000Z,2023-03-16T03:26:39.000Z,1.0,[],20,NaN,NaN,NaN
2,OLL,1351,FI,DEPARTURE,False,NaN,,False,2023-03-16T03:26:00.000Z,2023-03-16T03:26:39.000Z,1.0,[],20,NaN,NaN,NaN
3,KML,769,FI,ARRIVAL,True,True,2,False,2023-03-16T03:30:00.000Z,2023-03-16T03:30:28.000Z,0.0,[],20,NaN,NaN,NaN
4,KML,769,FI,DEPARTURE,True,True,2,False,2023-03-16T03:33:00.000Z,2023-03-16T03:34:37.000Z,2.0,[],20,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1585,ILR,1030,FI,ARRIVAL,True,True,602,False,2023-03-16T09:11:00.000Z,2023-03-16T09:25:27.000Z,14.0,[],60004,NaN,NaN,NaN
1586,HKI,1,FI,DEPARTURE,True,True,6,False,2023-03-16T09:14:00.000Z,2023-03-16T09:14:04.000Z,0.0,[],61044,NaN,NaN,NaN
1587,PSL,10,FI,ARRIVAL,False,NaN,,False,2023-03-16T09:19:00.000Z,2023-03-16T09:24:38.000Z,6.0,[],61044,NaN,NaN,NaN
1588,PSL,10,FI,DEPARTURE,False,NaN,,False,2023-03-16T09:19:00.000Z,2023-03-16T09:25:55.000Z,7.0,[],61044,NaN,NaN,NaN
1589,ILR,1030,FI,ARRIVAL,True,True,712,False,2023-03-16T09:29:00.000Z,NaN,0.0,[],61044,NaN,2023-03-16T09:29:46.000Z,COMBOCALC

#### Tehtävä 5. Pudota sitten seuraavat sarakkeet datasta: `causes`, `estimateSource`, `liveEstimateTime`, `differenceInMinutes`, `commercialStop` ja `trainReady`

In [6]:
#
train_l.drop(["causes","estimateSource","liveEstimateTime","differenceInMinutes","commercialStop","trainReady"], inplace=True, axis=1)
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,KLI,358,FI,DEPARTURE,True,1,False,2023-03-15T17:42:00.000Z,2023-03-15T17:44:01.000Z,276
1,SPJ,796,FI,ARRIVAL,False,,False,2023-03-15T17:59:00.000Z,2023-03-15T18:00:41.000Z,276
2,SPJ,796,FI,DEPARTURE,False,,False,2023-03-15T17:59:00.000Z,2023-03-15T18:00:41.000Z,276
3,PEL,356,FI,ARRIVAL,True,1,False,2023-03-15T18:29:00.000Z,2023-03-15T18:29:36.000Z,276
4,PEL,356,FI,DEPARTURE,True,1,False,2023-03-15T18:32:00.000Z,2023-03-15T18:34:02.000Z,276
...,...,...,...,...,...,...,...,...,...,...
1679,HKI,1,FI,ARRIVAL,True,9,False,2023-03-16T09:03:00.000Z,NaN,60065
1680,HKI,1,FI,DEPARTURE,True,,True,2023-03-16T08:14:00.000Z,NaN,61140
1681,PSL,10,FI,ARRIVAL,False,,True,2023-03-16T08:19:00.000Z,NaN,61140
1682,PSL,10,FI,DEPARTURE,False,,True,2023-03-16T08:19:00.000Z,NaN,61140
1683,ILR,1030,FI,ARRIVAL,True,,True,2023-03-16T08:29:00.000Z,NaN,61140

#### Tehtävä 6. Täytä jokaisen rivin sarakkeen `actualTime` puuttuvat arvot `scheduledTime` -sarakkeen arvolla.

In [7]:
#
train_l['actualTime'].fillna(inplace=True,value=train_l['scheduledTime'])
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,KLI,358,FI,DEPARTURE,True,1,False,2023-03-15T17:42:00.000Z,2023-03-15T17:44:01.000Z,276
1,SPJ,796,FI,ARRIVAL,False,,False,2023-03-15T17:59:00.000Z,2023-03-15T18:00:41.000Z,276
2,SPJ,796,FI,DEPARTURE,False,,False,2023-03-15T17:59:00.000Z,2023-03-15T18:00:41.000Z,276
3,PEL,356,FI,ARRIVAL,True,1,False,2023-03-15T18:29:00.000Z,2023-03-15T18:29:36.000Z,276
4,PEL,356,FI,DEPARTURE,True,1,False,2023-03-15T18:32:00.000Z,2023-03-15T18:34:02.000Z,276
...,...,...,...,...,...,...,...,...,...,...
1679,HKI,1,FI,ARRIVAL,True,9,False,2023-03-16T09:03:00.000Z,2023-03-16T09:03:00.000Z,60065
1680,HKI,1,FI,DEPARTURE,True,,True,2023-03-16T08:14:00.000Z,2023-03-16T08:14:00.000Z,61140
1681,PSL,10,FI,ARRIVAL,False,,True,2023-03-16T08:19:00.000Z,2023-03-16T08:19:00.000Z,61140
1682,PSL,10,FI,DEPARTURE,False,,True,2023-03-16T08:19:00.000Z,2023-03-16T08:19:00.000Z,61140
1683,ILR,1030,FI,ARRIVAL,True,,True,2023-03-16T08:29:00.000Z,2023-03-16T08:29:00.000Z,61140

## Vaihe 2

#### Tehtävä 7. Pura tämän kansion sisällä olevan `data.html` -tiedoston `table`-elementin solujen arvot käyttäen regex-syntaksia ja yhdistä ne vaiheessa 1 luotuun dataframeen. Huom: tehtävässä tulee käyttää vain regexiä (Esim. Pandasin read_html()-metodin käyttö on kielletty)!

In [15]:
import re
import urllib.request

In [19]:
url = 'file:///C:/Users/sanni/Aida/ttc8030-harjoitukset/harjoitustyo/data.html'
html = urllib.request.urlopen(url).read()
html = html.decode()

pattern = r'<th>(.*)</th>' #th:t
pattern2 = r'<td>\s+(.*?)\s+</td>' #kaikki td:t
ths = re.findall(pattern, html)
tds = re.findall(pattern2, html)
# ths
# tds

actualtime = tds[::10]
cancelled = tds[1::10]
commercialtrack =tds[2::10]
countrycode = tds[3::10]
scheduledtime = tds[4::10]
shortcode = tds[5::10]
uiccode = tds[6::10]
trainstopping = tds[7::10]
ttype = tds[8::10]
trainnumber = tds[9::10]

generated_dataframe = pd.DataFrame({ths[5]:shortcode,
                                    ths[6]:uiccode,
                                   ths[3]:countrycode,
                                    ths[8]:ttype,
                                   ths[7]:trainstopping,
                                   ths[2]:commercialtrack,
                                   ths[1]:cancelled,
                                   ths[4]:scheduledtime,
                                   ths[0]:actualtime,
                                   ths[9]:trainnumber})

# generated_dataframe

combined_df = pd.concat([train_l, generated_dataframe])
combined_df.reset_index(inplace=True,drop=True)
combined_df
# eka_rivi = combined_df.iloc[0]
# eka_rivi

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialStop,commercialTrack,cancelled,scheduledTime,actualTime,differenceInMinutes,causes,trainNumber,trainReady,liveEstimateTime,estimateSource
0,OL,370,FI,DEPARTURE,True,True,1,False,2023-03-16T03:21:00.000Z,2023-03-16T03:21:59.000Z,1.0,[],20,"{'source': 'KUPLA', 'accepted': True, 'timesta...",NaN,NaN
1,OLL,1351,FI,ARRIVAL,False,NaN,,False,2023-03-16T03:26:00.000Z,2023-03-16T03:26:39.000Z,1.0,[],20,NaN,NaN,NaN
2,OLL,1351,FI,DEPARTURE,False,NaN,,False,2023-03-16T03:26:00.000Z,2023-03-16T03:26:39.000Z,1.0,[],20,NaN,NaN,NaN
3,KML,769,FI,ARRIVAL,True,True,2,False,2023-03-16T03:30:00.000Z,2023-03-16T03:30:28.000Z,0.0,[],20,NaN,NaN,NaN
4,KML,769,FI,DEPARTURE,True,True,2,False,2023-03-16T03:33:00.000Z,2023-03-16T03:34:37.000Z,2.0,[],20,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1588,PSL,10,FI,DEPARTURE,False,NaN,,False,2023-03-16T09:19:00.000Z,2023-03-16T09:25:55.000Z,7.0,[],61044,NaN,NaN,NaN
1589,ILR,1030,FI,ARRIVAL,True,True,712,False,2023-03-16T09:29:00.000Z,NaN,0.0,[],61044,NaN,2023-03-16T09:29:46.000Z,COMBOCALC
1590,JVS,1272,FI,DEPARTURE,False,NaN,,False,2019-08-06T04:48:00.000Z,2019-08-06T04:48:00.000Z,NaN,NaN,150,NaN,NaN,NaN
1591,R702,98998,FI,ARRIVAL,False,NaN,,False,2019-08-06T06:04:39.000Z,2019-08-06T06:04:39.000Z,NaN,NaN,150,NaN,NaN,NaN
1592,ILA,98998,FI,ARRIVAL,9,NaN,,False,2019-08-06T07:03:12.000Z,2019-08-06T07:03:12.000Z,NaN,NaN,8337,NaN,NaN,NaN

## Vaihe 3

#### Tehtävä 8. Tee SQLite tietokanta ja lisää sinne vaiheen 2 tuloksena saatu dataframe.

In [10]:
import sqlite3

In [11]:
# Tietokannan (train.db) luominen paikalliseen hakemistoon
conn = sqlite3.connect("train.db")
combined_df.to_sql(name='trains', con=conn, if_exists='fail', index=False)
conn.close()

In [12]:
# Tietokannan taulun kaikkien tietojen lukeminen
conn = sqlite3.connect('train.db')
sql_query = 'SELECT * FROM trains'
df = pd.read_sql_query(sql_query, conn)
conn.close()
df

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,KLI,358,FI,DEPARTURE,1,1,0,2023-03-15T17:42:00.000Z,2023-03-15T17:44:01.000Z,276
1,SPJ,796,FI,ARRIVAL,0,,0,2023-03-15T17:59:00.000Z,2023-03-15T18:00:41.000Z,276
2,SPJ,796,FI,DEPARTURE,0,,0,2023-03-15T17:59:00.000Z,2023-03-15T18:00:41.000Z,276
3,PEL,356,FI,ARRIVAL,1,1,0,2023-03-15T18:29:00.000Z,2023-03-15T18:29:36.000Z,276
4,PEL,356,FI,DEPARTURE,1,1,0,2023-03-15T18:32:00.000Z,2023-03-15T18:34:02.000Z,276
...,...,...,...,...,...,...,...,...,...,...
1682,PSL,10,FI,DEPARTURE,0,,1,2023-03-16T08:19:00.000Z,2023-03-16T08:19:00.000Z,61140
1683,ILR,1030,FI,ARRIVAL,1,,1,2023-03-16T08:29:00.000Z,2023-03-16T08:29:00.000Z,61140
1684,JVS,1272,FI,DEPARTURE,False,,False,2019-08-06T04:48:00.000Z,2019-08-06T04:48:00.000Z,150
1685,R702,98998,FI,ARRIVAL,False,,False,2019-08-06T06:04:39.000Z,2019-08-06T06:04:39.000Z,150
1686,ILA,98998,FI,ARRIVAL,9,,False,2019-08-06T07:03:12.000Z,2019-08-06T07:03:12.000Z,8337