## Harjoitustyö

## Vaihe 1

#### Tehtävä 1. Hae Digitrafficin REST-rajapintapalvelusta (JSON-formaatissa) aktiiviset junat pääteosoitteella `/live-trains` Helsingin asemalta, joiden hakuparametrit ovat seuraavat:
* arrived_trains=10
* departed_trains=10
* include_nonstopping=False

In [1]:
import requests
import pandas as pd

In [2]:
url = "https://rata.digitraffic.fi/api/v1"
endpoint = "/live-trains"
station = "/station/HKI"
search_train = "?arrived_trains=10&departed_trains=10&include_nonstopping=False"

url2 = f"{url}{endpoint}{station}{search_train}"

req = requests.get(url2)
# req.status_code

train_info = req.json()
#train_info

#### Tehtävä 2. Tämän jälkeen lue kyseinen data Pandasin dataframeen ilman muokkaamista, jolloin sarakkeiden otsikot ovat seuraavanlaiset:

 `cancelled`,
 `commuterLineID`,
 `departureDate`,
 `operatorShortCode`,
 `operatorUICCode`,
 `runningCurrently`,
 `timeTableRows`,
 `timetableAcceptanceDate`,
 `timetableType`,
 `trainCategory`,
 `trainNumber`,
 `trainType`,
 `version`

In [3]:
#
train_df = pd.DataFrame(train_info)
train_df

,trainNumber,departureDate,operatorUICCode,operatorShortCode,trainType,trainCategory,commuterLineID,runningCurrently,cancelled,version,timetableType,timetableAcceptanceDate,timeTableRows
0,276,2023-03-15,10,vr,PYO,Long-distance,,False,False,285130841675,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'KLI', 'stationUICCode':..."
1,4,2023-03-16,10,vr,IC,Long-distance,,False,False,285130823402,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'JNS', 'stationUICCode':..."
2,44,2023-03-16,10,vr,S,Long-distance,,False,False,285130890255,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'VS', 'stationUICCode': ..."
3,45,2023-03-16,10,vr,IC,Long-distance,,False,False,285130841675,REGULAR,2022-08-15T06:10:16.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
4,8070,2023-03-16,10,vr,HL,Commuter,A,False,False,285130828029,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'LPV', 'stationUICCode':..."
5,8074,2023-03-16,10,vr,HL,Commuter,A,True,False,285130908994,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'LPV', 'stationUICCode':..."
6,8077,2023-03-16,10,vr,HL,Commuter,A,False,False,285130899090,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
7,8081,2023-03-16,10,vr,HL,Commuter,A,False,False,285130892236,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
8,8338,2023-03-16,10,vr,HL,Commuter,E,True,False,285130912643,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KLH', 'stationUICCode':..."
9,8341,2023-03-16,10,vr,HL,Commuter,E,True,False,285130901188,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
10,8452,2023-03-16,10,vr,HL,Commuter,U,False,False,285130818309,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KKN', 'stationUICCode':..."
11,8457,2023-03-16,10,vr,HL,Commuter,U,True,False,285130916991,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
12,8638,2023-03-16,10,vr,HL,Commuter,P,False,False,285130834278,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
13,8641,2023-03-16,10,vr,HL,Commuter,P,False,False,285130916991,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
14,8646,2023-03-16,10,vr,HL,Commuter,P,True,False,285130909495,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
15,8647,2023-03-16,10,vr,HL,Commuter,P,True,False,285130915999,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
16,8649,2023-03-16,10,vr,HL,Commuter,P,True,False,285130906084,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
17,8836,2023-03-16,10,vr,HL,Commuter,I,False,False,285130901821,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
18,8837,2023-03-16,10,vr,HL,Commuter,I,True,False,285130915419,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
19,8842,2023-03-16,10,vr,HL,Commuter,I,True,False,285130914088,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
20,8844,2023-03-16,10,vr,HL,Commuter,I,True,False,285130911547,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
21,9070,2023-03-16,10,vr,HL,Commuter,K,False,False,285130873642,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
22,9074,2023-03-16,10,vr,HL,Commuter,K,True,False,285130914088,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
23,9089,2023-03-16,10,vr,HL,Commuter,K,True,False,285130904043,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
24,9093,2023-03-16,10,vr,HL,Commuter,K,True,False,285130911547,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
25,9097,2023-03-16,10,vr,HL,Commuter,K,False,False,285130897357,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
26,9646,2023-03-16,10,vr,HL,Commuter,R,False,False,285130869781,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'TPE', 'stationUICCode':..."
27,60004,2023-03-16,10,vr,SAA,Shunting,,False,False,285130676309,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
28,60065,2023-03-16,10,vr,SAA,Shunting,,True,False,285130871490,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'ILR', 'stationUICCode':..."
29,61140,2023-03-16,10,vr,SAA,Shunting,,False,True,285129691628,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."

#### Tehtävä 3. Poista kaikki muut sarakkeet paitsi `timeTableRows` ja `trainNumber`

In [4]:
#
# train_pd = train_pd[(train_pd["timeTableRows"]) & (train_pd["trainNumber"])]
# train_pd
train_df = train_df.loc[:,["trainNumber","timeTableRows"]]
train_df

    trainNumber                                      timeTableRows
0           276  [{'stationShortCode': 'KLI', 'stationUICCode':...
1             4  [{'stationShortCode': 'JNS', 'stationUICCode':...
2            44  [{'stationShortCode': 'VS', 'stationUICCode': ...
3            45  [{'stationShortCode': 'HKI', 'stationUICCode':...
4          8070  [{'stationShortCode': 'LPV', 'stationUICCode':...
5          8074  [{'stationShortCode': 'LPV', 'stationUICCode':...
6          8077  [{'stationShortCode': 'HKI', 'stationUICCode':...
7          8081  [{'stationShortCode': 'HKI', 'stationUICCode':...
8          8338  [{'stationShortCode': 'KLH', 'stationUICCode':...
9          8341  [{'stationShortCode': 'HKI', 'stationUICCode':...
10         8452  [{'stationShortCode': 'KKN', 'stationUICCode':...
11         8457  [{'stationShortCode': 'HKI', 'stationUICCode':...
12         8638  [{'stationShortCode': 'HKI', 'stationUICCode':...
13         8641  [{'stationShortCode': 'HKI', 'stationUICCode':...
14         8646  [{'stationShortCode': 'HKI', 'stationUICCode':...
15         8647  [{'stationShortCode': 'HKI', 'stationUICCode':...
16         8649  [{'stationShortCode': 'HKI', 'stationUICCode':...
17         8836  [{'stationShortCode': 'HKI', 'stationUICCode':...
18         8837  [{'stationShortCode': 'HKI', 'stationUICCode':...
19         8842  [{'stationShortCode': 'HKI', 'stationUICCode':...
20         8844  [{'stationShortCode': 'HKI', 'stationUICCode':...
21         9070  [{'stationShortCode': 'KE', 'stationUICCode': ...
22         9074  [{'stationShortCode': 'KE', 'stationUICCode': ...
23         9089  [{'stationShortCode': 'HKI', 'stationUICCode':...
24         9093  [{'stationShortCode': 'HKI', 'stationUICCode':...
25         9097  [{'stationShortCode': 'HKI', 'stationUICCode':...
26         9646  [{'stationShortCode': 'TPE', 'stationUICCode':...
27        60004  [{'stationShortCode': 'HKI', 'stationUICCode':...
28        60065  [{'stationShortCode': 'ILR', 'stationUICCode':...
29        61140  [{'stationShortCode': 'HKI', 'stationUICCode':...

#### Tehtävä 4. Tämän jälkeen pura `timeTableRows` sarakkeen arvot jokaisesta junasta erikseen (sarakkeen arvo jokaiselle junalle sisältää useampia JSON-objekteja) ja lisää dataan mukaan junan tiedot yksilöivä `trainNumber`

In [5]:
#

t_list = []

for i in train_df["timeTableRows"]:
    for j in i:
        t_list.append(j)
# t_list
train_l = pd.DataFrame(t_list)    
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialStop,commercialTrack,cancelled,scheduledTime,actualTime,differenceInMinutes,causes,trainNumber,trainReady,liveEstimateTime,estimateSource
0,KLI,358,FI,DEPARTURE,True,True,1,False,2023-03-15T17:42:00.000Z,2023-03-15T17:44:01.000Z,2.0,[],276,"{'source': 'KUPLA', 'accepted': True, 'timesta...",NaN,NaN
1,SPJ,796,FI,ARRIVAL,False,NaN,,False,2023-03-15T17:59:00.000Z,2023-03-15T18:00:41.000Z,2.0,[],276,NaN,NaN,NaN
2,SPJ,796,FI,DEPARTURE,False,NaN,,False,2023-03-15T17:59:00.000Z,2023-03-15T18:00:41.000Z,2.0,[],276,NaN,NaN,NaN
3,PEL,356,FI,ARRIVAL,True,True,1,False,2023-03-15T18:29:00.000Z,2023-03-15T18:29:36.000Z,1.0,[],276,NaN,NaN,NaN
4,PEL,356,FI,DEPARTURE,True,True,1,False,2023-03-15T18:32:00.000Z,2023-03-15T18:34:02.000Z,2.0,[],276,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1679,HKI,1,FI,ARRIVAL,True,True,9,False,2023-03-16T09:03:00.000Z,NaN,-7.0,[],60065,NaN,2023-03-16T08:55:50.000Z,COMBOCALC
1680,HKI,1,FI,DEPARTURE,True,True,,True,2023-03-16T08:14:00.000Z,NaN,NaN,[],61140,NaN,NaN,NaN
1681,PSL,10,FI,ARRIVAL,False,NaN,,True,2023-03-16T08:19:00.000Z,NaN,NaN,[],61140,NaN,NaN,NaN
1682,PSL,10,FI,DEPARTURE,False,NaN,,True,2023-03-16T08:19:00.000Z,NaN,NaN,[],61140,NaN,NaN,NaN
1683,ILR,1030,FI,ARRIVAL,True,True,,True,2023-03-16T08:29:00.000Z,NaN,NaN,[],61140,NaN,NaN,NaN

#### Tehtävä 5. Pudota sitten seuraavat sarakkeet datasta: `causes`, `estimateSource`, `liveEstimateTime`, `differenceInMinutes`, `commercialStop` ja `trainReady`

In [6]:
#
train_l.drop(["causes","estimateSource","liveEstimateTime","differenceInMinutes","commercialStop","trainReady"], inplace=True, axis=1)
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,KLI,358,FI,DEPARTURE,True,1,False,2023-03-15T17:42:00.000Z,2023-03-15T17:44:01.000Z,276
1,SPJ,796,FI,ARRIVAL,False,,False,2023-03-15T17:59:00.000Z,2023-03-15T18:00:41.000Z,276
2,SPJ,796,FI,DEPARTURE,False,,False,2023-03-15T17:59:00.000Z,2023-03-15T18:00:41.000Z,276
3,PEL,356,FI,ARRIVAL,True,1,False,2023-03-15T18:29:00.000Z,2023-03-15T18:29:36.000Z,276
4,PEL,356,FI,DEPARTURE,True,1,False,2023-03-15T18:32:00.000Z,2023-03-15T18:34:02.000Z,276
...,...,...,...,...,...,...,...,...,...,...
1679,HKI,1,FI,ARRIVAL,True,9,False,2023-03-16T09:03:00.000Z,NaN,60065
1680,HKI,1,FI,DEPARTURE,True,,True,2023-03-16T08:14:00.000Z,NaN,61140
1681,PSL,10,FI,ARRIVAL,False,,True,2023-03-16T08:19:00.000Z,NaN,61140
1682,PSL,10,FI,DEPARTURE,False,,True,2023-03-16T08:19:00.000Z,NaN,61140
1683,ILR,1030,FI,ARRIVAL,True,,True,2023-03-16T08:29:00.000Z,NaN,61140

#### Tehtävä 6. Täytä jokaisen rivin sarakkeen `actualTime` puuttuvat arvot `scheduledTime` -sarakkeen arvolla.

In [7]:
#
train_l['actualTime'].fillna(inplace=True,value=train_l['scheduledTime'])
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,JY,240,FI,DEPARTURE,True,1,False,2023-03-14T12:20:00.000Z,2023-03-14T12:21:33.000Z,86
1,MUU,433,FI,ARRIVAL,False,,False,2023-03-14T12:29:00.000Z,2023-03-14T12:30:24.000Z,86
2,MUU,433,FI,DEPARTURE,False,,False,2023-03-14T12:29:00.000Z,2023-03-14T12:30:24.000Z,86
3,SAA,668,FI,ARRIVAL,False,,False,2023-03-14T12:38:00.000Z,2023-03-14T12:39:08.000Z,86
4,SAA,668,FI,DEPARTURE,False,,False,2023-03-14T12:38:00.000Z,2023-03-14T12:39:08.000Z,86
...,...,...,...,...,...,...,...,...,...,...
1357,ILR,1030,FI,ARRIVAL,True,798,False,2023-03-14T16:14:00.000Z,2023-03-14T16:15:34.000Z,64125
1358,HKI,1,FI,DEPARTURE,True,5,False,2023-03-14T16:19:00.000Z,2023-03-14T16:19:00.000Z,64127
1359,PSL,10,FI,ARRIVAL,False,,False,2023-03-14T16:24:00.000Z,2023-03-14T16:24:00.000Z,64127
1360,PSL,10,FI,DEPARTURE,False,,False,2023-03-14T16:24:00.000Z,2023-03-14T16:24:00.000Z,64127
1361,ILR,1030,FI,ARRIVAL,True,787,False,2023-03-14T16:34:00.000Z,2023-03-14T16:34:00.000Z,64127

## Vaihe 2

#### Tehtävä 7. Pura tämän kansion sisällä olevan `data.html` -tiedoston `table`-elementin solujen arvot käyttäen regex-syntaksia ja yhdistä ne vaiheessa 1 luotuun dataframeen. Huom: tehtävässä tulee käyttää vain regexiä (Esim. Pandasin read_html()-metodin käyttö on kielletty)!

In [8]:
import re
import urllib.request

In [9]:
url = 'file:///C:/Users/sanni/Aida/ttc8030-harjoitukset/harjoitustyo/data.html'
html = urllib.request.urlopen(url).read()
html = html.decode()

pattern = r'<th>(.*)</th>' #th:t
pattern2 = r'<td>\s+(.*?)\s+</td>' #kaikki td:t
ths = re.findall(pattern, html)
tds = re.findall(pattern2, html)
# ths
# tds

actualtime = tds[::10]
cancelled = tds[1::10]
commercialtrack =tds[2::10]
countrycode = tds[3::10]
scheduledtime = tds[4::10]
shortcode = tds[5::10]
uiccode = tds[6::10]
trainstopping = tds[7::10]
ttype = tds[8::10]
trainnumber = tds[9::10]

generated_dataframe = pd.DataFrame({ths[5]:shortcode,
                                    ths[6]:uiccode,
                                   ths[3]:countrycode,
                                    ths[8]:ttype,
                                   ths[7]:trainstopping,
                                   ths[2]:commercialtrack,
                                   ths[1]:cancelled,
                                   ths[4]:scheduledtime,
                                   ths[0]:actualtime,
                                   ths[9]:trainnumber})

# generated_dataframe

combined_df = pd.concat([train_l, generated_dataframe])
combined_df.reset_index(inplace=True,drop=True)
combined_df

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,JY,240,FI,DEPARTURE,True,1,False,2023-03-14T12:20:00.000Z,2023-03-14T12:21:33.000Z,86
1,MUU,433,FI,ARRIVAL,False,,False,2023-03-14T12:29:00.000Z,2023-03-14T12:30:24.000Z,86
2,MUU,433,FI,DEPARTURE,False,,False,2023-03-14T12:29:00.000Z,2023-03-14T12:30:24.000Z,86
3,SAA,668,FI,ARRIVAL,False,,False,2023-03-14T12:38:00.000Z,2023-03-14T12:39:08.000Z,86
4,SAA,668,FI,DEPARTURE,False,,False,2023-03-14T12:38:00.000Z,2023-03-14T12:39:08.000Z,86
...,...,...,...,...,...,...,...,...,...,...
1360,PSL,10,FI,DEPARTURE,False,,False,2023-03-14T16:24:00.000Z,2023-03-14T16:24:00.000Z,64127
1361,ILR,1030,FI,ARRIVAL,True,787,False,2023-03-14T16:34:00.000Z,2023-03-14T16:34:00.000Z,64127
1362,JVS,1272,FI,DEPARTURE,False,,False,2019-08-06T04:48:00.000Z,2019-08-06T04:48:00.000Z,150
1363,R702,98998,FI,ARRIVAL,False,,False,2019-08-06T06:04:39.000Z,2019-08-06T06:04:39.000Z,150
1364,ILA,98998,FI,ARRIVAL,9,,False,2019-08-06T07:03:12.000Z,2019-08-06T07:03:12.000Z,8337

## Vaihe 3

#### Tehtävä 8. Tee SQLite tietokanta ja lisää sinne vaiheen 2 tuloksena saatu dataframe.

In [10]:
import sqlite3

In [11]:
# Tietokannan (train.db) luominen paikalliseen hakemistoon
conn = sqlite3.connect("train.db")
combined_df.to_sql(name='trains', con=conn, if_exists='fail', index=False)
conn.close()

In [12]:
# Tietokannan taulun kaikkien tietojen lukeminen
conn = sqlite3.connect('train.db')
sql_query = 'SELECT * FROM trains'
df = pd.read_sql_query(sql_query, conn)
conn.close()
df

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,JY,240,FI,DEPARTURE,1,1,0,2023-03-14T12:20:00.000Z,2023-03-14T12:21:33.000Z,86
1,MUU,433,FI,ARRIVAL,0,,0,2023-03-14T12:29:00.000Z,2023-03-14T12:30:24.000Z,86
2,MUU,433,FI,DEPARTURE,0,,0,2023-03-14T12:29:00.000Z,2023-03-14T12:30:24.000Z,86
3,SAA,668,FI,ARRIVAL,0,,0,2023-03-14T12:38:00.000Z,2023-03-14T12:39:08.000Z,86
4,SAA,668,FI,DEPARTURE,0,,0,2023-03-14T12:38:00.000Z,2023-03-14T12:39:08.000Z,86
...,...,...,...,...,...,...,...,...,...,...
1360,PSL,10,FI,DEPARTURE,0,,0,2023-03-14T16:24:00.000Z,2023-03-14T16:24:00.000Z,64127
1361,ILR,1030,FI,ARRIVAL,1,787,0,2023-03-14T16:34:00.000Z,2023-03-14T16:34:00.000Z,64127
1362,JVS,1272,FI,DEPARTURE,False,,False,2019-08-06T04:48:00.000Z,2019-08-06T04:48:00.000Z,150
1363,R702,98998,FI,ARRIVAL,False,,False,2019-08-06T06:04:39.000Z,2019-08-06T06:04:39.000Z,150
1364,ILA,98998,FI,ARRIVAL,9,,False,2019-08-06T07:03:12.000Z,2019-08-06T07:03:12.000Z,8337