## Harjoitustyö

## Vaihe 1

#### Tehtävä 1. Hae Digitrafficin REST-rajapintapalvelusta (JSON-formaatissa) aktiiviset junat pääteosoitteella `/live-trains` Helsingin asemalta, joiden hakuparametrit ovat seuraavat:
* arrived_trains=10
* departed_trains=10
* include_nonstopping=False

In [1]:
import requests
import pandas as pd

In [2]:
url = "https://rata.digitraffic.fi/api/v1"
endpoint = "/live-trains"
station = "/station/HKI"
search_train = "?arrived_trains=10&departed_trains=10&include_nonstopping=False"

url2 = f"{url}{endpoint}{station}{search_train}"

req = requests.get(url2)
# req.status_code

train_info = req.json()
#train_info

#### Tehtävä 2. Tämän jälkeen lue kyseinen data Pandasin dataframeen ilman muokkaamista, jolloin sarakkeiden otsikot ovat seuraavanlaiset:

 `cancelled`,
 `commuterLineID`,
 `departureDate`,
 `operatorShortCode`,
 `operatorUICCode`,
 `runningCurrently`,
 `timeTableRows`,
 `timetableAcceptanceDate`,
 `timetableType`,
 `trainCategory`,
 `trainNumber`,
 `trainType`,
 `version`

In [3]:
train_df = pd.DataFrame(train_info)
train_df

,trainNumber,departureDate,operatorUICCode,operatorShortCode,trainType,trainCategory,commuterLineID,runningCurrently,cancelled,version,timetableType,timetableAcceptanceDate,timeTableRows
0,26,2023-03-16,10,vr,IC,Long-distance,,False,False,285134307958,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'OL', 'stationUICCode': ..."
1,265,2023-03-16,10,vr,IC,Long-distance,,True,False,285134361462,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
2,966,2023-03-16,10,vr,IC,Long-distance,,False,False,285134355320,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KUT', 'stationUICCode':..."
3,8178,2023-03-16,10,vr,HL,Commuter,A,False,False,285134349589,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'LPV', 'stationUICCode':..."
4,8183,2023-03-16,10,vr,HL,Commuter,A,True,False,285134371139,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
5,8372,2023-03-16,10,vr,HL,Commuter,E,False,False,285134288877,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KLH', 'stationUICCode':..."
6,8373,2023-03-16,10,vr,HL,Commuter,E,False,True,285132989183,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
7,8375,2023-03-16,10,vr,HL,Commuter,E,True,False,285134364983,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
8,8493,2023-03-16,10,vr,HL,Commuter,U,True,False,285134360145,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
9,8703,2023-03-16,10,vr,HL,Commuter,P,False,True,285132982084,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
10,8707,2023-03-16,10,vr,HL,Commuter,P,False,False,285134233526,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
11,8709,2023-03-16,10,vr,HL,Commuter,P,False,False,285134279185,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
12,8710,2023-03-16,10,vr,HL,Commuter,P,False,False,285134343089,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
13,8718,2023-03-16,10,vr,HL,Commuter,P,True,False,285134371139,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
14,8905,2023-03-16,10,vr,HL,Commuter,I,False,False,285134340794,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
15,8911,2023-03-16,10,vr,HL,Commuter,I,True,False,285134371139,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
16,8932,2023-03-16,10,vr,HL,Commuter,I,False,False,285134250231,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
17,8933,2023-03-16,10,vr,HL,Commuter,I,True,False,285134362791,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
18,9244,2023-03-16,10,vr,HL,Commuter,K,False,False,285134253371,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
19,9248,2023-03-16,10,vr,HL,Commuter,K,True,False,285134360145,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
20,9263,2023-03-16,10,vr,HL,Commuter,K,True,False,285134364563,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
21,9267,2023-03-16,10,vr,HL,Commuter,K,False,True,285133019937,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
22,9356,2023-03-16,10,vr,HL,Commuter,K,False,True,285132990070,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
23,9719,2023-03-16,10,vr,HL,Commuter,R,True,False,285134365536,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
24,9867,2023-03-16,10,vr,HL,Commuter,Z,True,False,285134371139,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
25,60183,2023-03-16,10,vr,SAA,Shunting,,True,False,285134344811,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'ILR', 'stationUICCode':..."
26,60966,2023-03-16,10,vr,SAA,Shunting,,False,False,285134179225,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
27,64137,2023-03-16,10,vr,W,Shunting,,True,False,285134369241,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
28,64425,2023-03-16,10,vr,W,Shunting,,False,False,285134177884,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
29,65200,2023-03-16,10,vr,VEV,Shunting,,False,False,285133615955,ADHOC,2023-03-16T14:45:38.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."

#### Tehtävä 3. Poista kaikki muut sarakkeet paitsi `timeTableRows` ja `trainNumber`

In [4]:
train_df = train_df[["trainNumber","timeTableRows"]]
train_df

    trainNumber                                      timeTableRows
0            26  [{'stationShortCode': 'OL', 'stationUICCode': ...
1           265  [{'stationShortCode': 'HKI', 'stationUICCode':...
2           966  [{'stationShortCode': 'KUT', 'stationUICCode':...
3          8178  [{'stationShortCode': 'LPV', 'stationUICCode':...
4          8183  [{'stationShortCode': 'HKI', 'stationUICCode':...
5          8372  [{'stationShortCode': 'KLH', 'stationUICCode':...
6          8373  [{'stationShortCode': 'HKI', 'stationUICCode':...
7          8375  [{'stationShortCode': 'HKI', 'stationUICCode':...
8          8493  [{'stationShortCode': 'HKI', 'stationUICCode':...
9          8703  [{'stationShortCode': 'HKI', 'stationUICCode':...
10         8707  [{'stationShortCode': 'HKI', 'stationUICCode':...
11         8709  [{'stationShortCode': 'HKI', 'stationUICCode':...
12         8710  [{'stationShortCode': 'HKI', 'stationUICCode':...
13         8718  [{'stationShortCode': 'HKI', 'stationUICCode':...
14         8905  [{'stationShortCode': 'HKI', 'stationUICCode':...
15         8911  [{'stationShortCode': 'HKI', 'stationUICCode':...
16         8932  [{'stationShortCode': 'HKI', 'stationUICCode':...
17         8933  [{'stationShortCode': 'HKI', 'stationUICCode':...
18         9244  [{'stationShortCode': 'KE', 'stationUICCode': ...
19         9248  [{'stationShortCode': 'KE', 'stationUICCode': ...
20         9263  [{'stationShortCode': 'HKI', 'stationUICCode':...
21         9267  [{'stationShortCode': 'HKI', 'stationUICCode':...
22         9356  [{'stationShortCode': 'KE', 'stationUICCode': ...
23         9719  [{'stationShortCode': 'HKI', 'stationUICCode':...
24         9867  [{'stationShortCode': 'HKI', 'stationUICCode':...
25        60183  [{'stationShortCode': 'ILR', 'stationUICCode':...
26        60966  [{'stationShortCode': 'HKI', 'stationUICCode':...
27        64137  [{'stationShortCode': 'HKI', 'stationUICCode':...
28        64425  [{'stationShortCode': 'HKI', 'stationUICCode':...
29        65200  [{'stationShortCode': 'HKI', 'stationUICCode':...

#### Tehtävä 4. Tämän jälkeen pura `timeTableRows` sarakkeen arvot jokaisesta junasta erikseen (sarakkeen arvo jokaiselle junalle sisältää useampia JSON-objekteja) ja lisää dataan mukaan junan tiedot yksilöivä `trainNumber`

In [6]:
t_list = []

for i in train_df["timeTableRows"]:
    for j in i:
        t_list.append(j)
# t_list
train_l = pd.DataFrame(t_list)    
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialStop,commercialTrack,cancelled,scheduledTime,actualTime,differenceInMinutes,causes,trainNumber,trainReady,liveEstimateTime,estimateSource
0,OL,370,FI,DEPARTURE,True,True,2,False,2023-03-16T11:33:00.000Z,2023-03-16T11:33:51.000Z,1.0,[],26,"{'source': 'KUPLA', 'accepted': True, 'timesta...",NaN,NaN
1,OLL,1351,FI,ARRIVAL,False,NaN,2,False,2023-03-16T11:38:00.000Z,2023-03-16T11:38:33.000Z,1.0,[],26,NaN,NaN,NaN
2,OLL,1351,FI,DEPARTURE,False,NaN,2,False,2023-03-16T11:38:00.000Z,2023-03-16T11:38:33.000Z,1.0,[],26,NaN,NaN,NaN
3,KML,769,FI,ARRIVAL,True,True,2,False,2023-03-16T11:41:00.000Z,2023-03-16T11:42:12.000Z,1.0,[],26,NaN,NaN,NaN
4,KML,769,FI,DEPARTURE,True,True,2,False,2023-03-16T11:42:00.000Z,2023-03-16T11:43:06.000Z,1.0,[],26,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1503,ILR,1030,FI,ARRIVAL,True,True,756,False,2023-03-16T18:04:00.000Z,NaN,NaN,[],64425,NaN,NaN,NaN
1504,HKI,1,FI,DEPARTURE,True,True,7,False,2023-03-16T17:43:00.000Z,NaN,NaN,[],65200,NaN,NaN,NaN
1505,PSL,10,FI,ARRIVAL,False,NaN,,False,2023-03-16T17:47:36.000Z,NaN,NaN,[],65200,NaN,NaN,NaN
1506,PSL,10,FI,DEPARTURE,False,NaN,,False,2023-03-16T17:47:36.000Z,NaN,NaN,[],65200,NaN,NaN,NaN
1507,ILR,1030,FI,ARRIVAL,True,True,607,False,2023-03-16T17:58:58.000Z,NaN,NaN,[],65200,NaN,NaN,NaN

#### Tehtävä 5. Pudota sitten seuraavat sarakkeet datasta: `causes`, `estimateSource`, `liveEstimateTime`, `differenceInMinutes`, `commercialStop` ja `trainReady`

In [7]:
#
train_l.drop(["causes","estimateSource","liveEstimateTime","differenceInMinutes","commercialStop","trainReady"], inplace=True, axis=1)
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,OL,370,FI,DEPARTURE,True,2,False,2023-03-16T11:33:00.000Z,2023-03-16T11:33:51.000Z,26
1,OLL,1351,FI,ARRIVAL,False,2,False,2023-03-16T11:38:00.000Z,2023-03-16T11:38:33.000Z,26
2,OLL,1351,FI,DEPARTURE,False,2,False,2023-03-16T11:38:00.000Z,2023-03-16T11:38:33.000Z,26
3,KML,769,FI,ARRIVAL,True,2,False,2023-03-16T11:41:00.000Z,2023-03-16T11:42:12.000Z,26
4,KML,769,FI,DEPARTURE,True,2,False,2023-03-16T11:42:00.000Z,2023-03-16T11:43:06.000Z,26
...,...,...,...,...,...,...,...,...,...,...
1503,ILR,1030,FI,ARRIVAL,True,756,False,2023-03-16T18:04:00.000Z,NaN,64425
1504,HKI,1,FI,DEPARTURE,True,7,False,2023-03-16T17:43:00.000Z,NaN,65200
1505,PSL,10,FI,ARRIVAL,False,,False,2023-03-16T17:47:36.000Z,NaN,65200
1506,PSL,10,FI,DEPARTURE,False,,False,2023-03-16T17:47:36.000Z,NaN,65200
1507,ILR,1030,FI,ARRIVAL,True,607,False,2023-03-16T17:58:58.000Z,NaN,65200

#### Tehtävä 6. Täytä jokaisen rivin sarakkeen `actualTime` puuttuvat arvot `scheduledTime` -sarakkeen arvolla.

In [8]:
#Käytetään fillna()-metodia puuttuvien sarakkaiden täyttämiseen
train_l['actualTime'].fillna(inplace=True,value=train_l['scheduledTime'])
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,OL,370,FI,DEPARTURE,True,2,False,2023-03-16T11:33:00.000Z,2023-03-16T11:33:51.000Z,26
1,OLL,1351,FI,ARRIVAL,False,2,False,2023-03-16T11:38:00.000Z,2023-03-16T11:38:33.000Z,26
2,OLL,1351,FI,DEPARTURE,False,2,False,2023-03-16T11:38:00.000Z,2023-03-16T11:38:33.000Z,26
3,KML,769,FI,ARRIVAL,True,2,False,2023-03-16T11:41:00.000Z,2023-03-16T11:42:12.000Z,26
4,KML,769,FI,DEPARTURE,True,2,False,2023-03-16T11:42:00.000Z,2023-03-16T11:43:06.000Z,26
...,...,...,...,...,...,...,...,...,...,...
1503,ILR,1030,FI,ARRIVAL,True,756,False,2023-03-16T18:04:00.000Z,2023-03-16T18:04:00.000Z,64425
1504,HKI,1,FI,DEPARTURE,True,7,False,2023-03-16T17:43:00.000Z,2023-03-16T17:43:00.000Z,65200
1505,PSL,10,FI,ARRIVAL,False,,False,2023-03-16T17:47:36.000Z,2023-03-16T17:47:36.000Z,65200
1506,PSL,10,FI,DEPARTURE,False,,False,2023-03-16T17:47:36.000Z,2023-03-16T17:47:36.000Z,65200
1507,ILR,1030,FI,ARRIVAL,True,607,False,2023-03-16T17:58:58.000Z,2023-03-16T17:58:58.000Z,65200

## Vaihe 2

#### Tehtävä 7. Pura tämän kansion sisällä olevan `data.html` -tiedoston `table`-elementin solujen arvot käyttäen regex-syntaksia ja yhdistä ne vaiheessa 1 luotuun dataframeen. Huom: tehtävässä tulee käyttää vain regexiä (Esim. Pandasin read_html()-metodin käyttö on kielletty)!

In [9]:
import re
import urllib.request

In [11]:
url = 'file:///C:/Users/sanni/Aida/ttc8030-harjoitukset/harjoitustyo/data.html'
html = urllib.request.urlopen(url).read()
html = html.decode()

pattern = r'<th>(.*)</th>' # Haetaan th:den sisällä olevat sarakeotsikot
pattern2 = r'<td>\s+(.*?)\s+</td>' # haetaan td:den sisällä olevat saraketiedot
ths = re.findall(pattern, html)
tds = re.findall(pattern2, html)
# ths
# tds

actualtime = tds[::10]
cancelled = tds[1::10]
commercialtrack =tds[2::10]
countrycode = tds[3::10]
scheduledtime = tds[4::10]
shortcode = tds[5::10]
uiccode = tds[6::10]
trainstopping = tds[7::10]
ttype = tds[8::10]
trainnumber = tds[9::10]

generated_dataframe = pd.DataFrame({ths[0]:actualtime,
                                    ths[1]:cancelled,
                                    ths[2]:commercialtrack,
                                    ths[3]:countrycode,
                                    ths[4]:scheduledtime,
                                    ths[5]:shortcode,
                                    ths[6]:uiccode,
                                    ths[7]:trainstopping,
                                    ths[8]:ttype,
                                    ths[9]:trainnumber})

# generated_dataframe

combined_df = pd.concat([train_l, generated_dataframe])
combined_df.reset_index(inplace=True,drop=True)
combined_df

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,OL,370,FI,DEPARTURE,True,2,False,2023-03-16T11:33:00.000Z,2023-03-16T11:33:51.000Z,26
1,OLL,1351,FI,ARRIVAL,False,2,False,2023-03-16T11:38:00.000Z,2023-03-16T11:38:33.000Z,26
2,OLL,1351,FI,DEPARTURE,False,2,False,2023-03-16T11:38:00.000Z,2023-03-16T11:38:33.000Z,26
3,KML,769,FI,ARRIVAL,True,2,False,2023-03-16T11:41:00.000Z,2023-03-16T11:42:12.000Z,26
4,KML,769,FI,DEPARTURE,True,2,False,2023-03-16T11:42:00.000Z,2023-03-16T11:43:06.000Z,26
...,...,...,...,...,...,...,...,...,...,...
1506,PSL,10,FI,DEPARTURE,False,,False,2023-03-16T17:47:36.000Z,2023-03-16T17:47:36.000Z,65200
1507,ILR,1030,FI,ARRIVAL,True,607,False,2023-03-16T17:58:58.000Z,2023-03-16T17:58:58.000Z,65200
1508,JVS,1272,FI,DEPARTURE,False,,False,2019-08-06T04:48:00.000Z,2019-08-06T04:48:00.000Z,150
1509,R702,98998,FI,ARRIVAL,False,,False,2019-08-06T06:04:39.000Z,2019-08-06T06:04:39.000Z,150
1510,ILA,98998,FI,ARRIVAL,9,,False,2019-08-06T07:03:12.000Z,2019-08-06T07:03:12.000Z,8337

## Vaihe 3

#### Tehtävä 8. Tee SQLite tietokanta ja lisää sinne vaiheen 2 tuloksena saatu dataframe.

In [12]:
import sqlite3

In [13]:
# Tietokannan (train.db) luominen paikalliseen hakemistoon
conn = sqlite3.connect("train.db")
combined_df.to_sql(name='trains', con=conn, if_exists='fail', index=False)
conn.close()

In [14]:
# Tietokannan taulun kaikkien tietojen lukeminen
conn = sqlite3.connect('train.db')
sql_query = 'SELECT * FROM trains'
df = pd.read_sql_query(sql_query, conn)
conn.close()
df

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,OL,370,FI,DEPARTURE,1,2,0,2023-03-16T11:33:00.000Z,2023-03-16T11:33:51.000Z,26
1,OLL,1351,FI,ARRIVAL,0,2,0,2023-03-16T11:38:00.000Z,2023-03-16T11:38:33.000Z,26
2,OLL,1351,FI,DEPARTURE,0,2,0,2023-03-16T11:38:00.000Z,2023-03-16T11:38:33.000Z,26
3,KML,769,FI,ARRIVAL,1,2,0,2023-03-16T11:41:00.000Z,2023-03-16T11:42:12.000Z,26
4,KML,769,FI,DEPARTURE,1,2,0,2023-03-16T11:42:00.000Z,2023-03-16T11:43:06.000Z,26
...,...,...,...,...,...,...,...,...,...,...
1506,PSL,10,FI,DEPARTURE,0,,0,2023-03-16T17:47:36.000Z,2023-03-16T17:47:36.000Z,65200
1507,ILR,1030,FI,ARRIVAL,1,607,0,2023-03-16T17:58:58.000Z,2023-03-16T17:58:58.000Z,65200
1508,JVS,1272,FI,DEPARTURE,False,,False,2019-08-06T04:48:00.000Z,2019-08-06T04:48:00.000Z,150
1509,R702,98998,FI,ARRIVAL,False,,False,2019-08-06T06:04:39.000Z,2019-08-06T06:04:39.000Z,150
1510,ILA,98998,FI,ARRIVAL,9,,False,2019-08-06T07:03:12.000Z,2019-08-06T07:03:12.000Z,8337