## Harjoitustyö

## Vaihe 1

#### Tehtävä 1. Hae Digitrafficin REST-rajapintapalvelusta (JSON-formaatissa) aktiiviset junat pääteosoitteella `/live-trains` Helsingin asemalta, joiden hakuparametrit ovat seuraavat:
* arrived_trains=10
* departed_trains=10
* include_nonstopping=False

In [31]:
import requests
import pandas as pd

In [5]:
url = "https://rata.digitraffic.fi/api/v1"
endpoint = "/live-trains"
station = "/station/HKI"
search_train = "?arrived_trains=10&departed_trains=10&include_nonstopping=False"

url2 = f"{url}{endpoint}{station}{search_train}"

req = requests.get(url2)
# req.status_code

train_info = req.json()
# train_info

#### Tehtävä 2. Tämän jälkeen lue kyseinen data Pandasin dataframeen ilman muokkaamista, jolloin sarakkeiden otsikot ovat seuraavanlaiset:

 `cancelled`,
 `commuterLineID`,
 `departureDate`,
 `operatorShortCode`,
 `operatorUICCode`,
 `runningCurrently`,
 `timeTableRows`,
 `timetableAcceptanceDate`,
 `timetableType`,
 `trainCategory`,
 `trainNumber`,
 `trainType`,
 `version`

In [6]:
#
train_df = pd.DataFrame(train_info)
train_df

,trainNumber,departureDate,operatorUICCode,operatorShortCode,trainType,trainCategory,commuterLineID,runningCurrently,cancelled,version,timetableType,timetableAcceptanceDate,timeTableRows
0,276,2023-03-06,10,vr,PYO,Long-distance,,False,False,285061001471,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'KLI', 'stationUICCode':..."
1,20,2023-03-07,10,vr,IC,Long-distance,,False,False,285061016146,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'OL', 'stationUICCode': ..."
2,950,2023-03-07,10,vr,IC,Long-distance,,False,False,285060962202,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'KUT', 'stationUICCode':..."
3,951,2023-03-07,10,vr,IC,Long-distance,,True,False,285061025738,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
4,8082,2023-03-07,10,vr,HL,Commuter,A,True,False,285061035318,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'LPV', 'stationUICCode':..."
5,8085,2023-03-07,10,vr,HL,Commuter,A,False,False,285061031842,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
6,8340,2023-03-07,10,vr,HL,Commuter,E,False,False,285061006163,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KLH', 'stationUICCode':..."
7,8343,2023-03-07,10,vr,HL,Commuter,E,True,False,285061038819,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
8,8456,2023-03-07,10,vr,HL,Commuter,U,True,False,285061042025,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KKN', 'stationUICCode':..."
9,8461,2023-03-07,10,vr,HL,Commuter,U,False,False,285057486601,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
10,8645,2023-03-07,10,vr,HL,Commuter,P,False,False,285060993388,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
11,8646,2023-03-07,10,vr,HL,Commuter,P,False,False,285061040405,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
12,8653,2023-03-07,10,vr,HL,Commuter,P,True,False,285061042024,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
13,8654,2023-03-07,10,vr,HL,Commuter,P,True,False,285061035318,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
14,8840,2023-03-07,10,vr,HL,Commuter,I,False,False,285060958267,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
15,8841,2023-03-07,10,vr,HL,Commuter,I,True,False,285061027692,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
16,8842,2023-03-07,10,vr,HL,Commuter,I,True,False,285061040405,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
17,8848,2023-03-07,10,vr,HL,Commuter,I,True,False,285061036191,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
18,8849,2023-03-07,10,vr,HL,Commuter,I,True,False,285061039890,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
19,9080,2023-03-07,10,vr,HL,Commuter,K,False,False,285060946570,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
20,9084,2023-03-07,10,vr,HL,Commuter,K,False,False,285061014112,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
21,9088,2023-03-07,10,vr,HL,Commuter,K,True,False,285061040959,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
22,9103,2023-03-07,10,vr,HL,Commuter,K,True,False,285061036760,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
23,9107,2023-03-07,10,vr,HL,Commuter,K,True,False,285061035624,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
24,9109,2023-03-07,10,vr,HL,Commuter,K,False,False,285061031842,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
25,9665,2023-03-07,10,vr,HL,Commuter,R,False,False,285060416558,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
26,9824,2023-03-07,10,vr,HL,Commuter,Z,False,False,285060943695,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'LH', 'stationUICCode': ..."
27,9835,2023-03-07,10,vr,HL,Commuter,Z,True,False,285061033247,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
28,60276,2023-03-07,10,vr,SAA,Shunting,,False,False,285060952465,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
29,60950,2023-03-07,10,vr,SAA,Shunting,,False,False,285060853004,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."

#### Tehtävä 3. Poista kaikki muut sarakkeet paitsi `timeTableRows` ja `trainNumber`

In [7]:
#
# train_pd = train_pd[(train_pd["timeTableRows"]) & (train_pd["trainNumber"])]
# train_pd
train_df = train_df.loc[:,["trainNumber","timeTableRows"]]
train_df

    trainNumber                                      timeTableRows
0           276  [{'stationShortCode': 'KLI', 'stationUICCode':...
1            20  [{'stationShortCode': 'OL', 'stationUICCode': ...
2           950  [{'stationShortCode': 'KUT', 'stationUICCode':...
3           951  [{'stationShortCode': 'HKI', 'stationUICCode':...
4          8082  [{'stationShortCode': 'LPV', 'stationUICCode':...
5          8085  [{'stationShortCode': 'HKI', 'stationUICCode':...
6          8340  [{'stationShortCode': 'KLH', 'stationUICCode':...
7          8343  [{'stationShortCode': 'HKI', 'stationUICCode':...
8          8456  [{'stationShortCode': 'KKN', 'stationUICCode':...
9          8461  [{'stationShortCode': 'HKI', 'stationUICCode':...
10         8645  [{'stationShortCode': 'HKI', 'stationUICCode':...
11         8646  [{'stationShortCode': 'HKI', 'stationUICCode':...
12         8653  [{'stationShortCode': 'HKI', 'stationUICCode':...
13         8654  [{'stationShortCode': 'HKI', 'stationUICCode':...
14         8840  [{'stationShortCode': 'HKI', 'stationUICCode':...
15         8841  [{'stationShortCode': 'HKI', 'stationUICCode':...
16         8842  [{'stationShortCode': 'HKI', 'stationUICCode':...
17         8848  [{'stationShortCode': 'HKI', 'stationUICCode':...
18         8849  [{'stationShortCode': 'HKI', 'stationUICCode':...
19         9080  [{'stationShortCode': 'KE', 'stationUICCode': ...
20         9084  [{'stationShortCode': 'KE', 'stationUICCode': ...
21         9088  [{'stationShortCode': 'KE', 'stationUICCode': ...
22         9103  [{'stationShortCode': 'HKI', 'stationUICCode':...
23         9107  [{'stationShortCode': 'HKI', 'stationUICCode':...
24         9109  [{'stationShortCode': 'HKI', 'stationUICCode':...
25         9665  [{'stationShortCode': 'HKI', 'stationUICCode':...
26         9824  [{'stationShortCode': 'LH', 'stationUICCode': ...
27         9835  [{'stationShortCode': 'HKI', 'stationUICCode':...
28        60276  [{'stationShortCode': 'HKI', 'stationUICCode':...
29        60950  [{'stationShortCode': 'HKI', 'stationUICCode':...

#### Tehtävä 4. Tämän jälkeen pura `timeTableRows` sarakkeen arvot jokaisesta junasta erikseen (sarakkeen arvo jokaiselle junalle sisältää useampia JSON-objekteja) ja lisää dataan mukaan junan tiedot yksilöivä `trainNumber`

In [37]:
#

t_list = []

for i in train_df["timeTableRows"]:
    for j in i:
        t_list.append(j)
# t_list
train_l = pd.DataFrame(t_list)    
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialStop,commercialTrack,cancelled,scheduledTime,actualTime,differenceInMinutes,causes,trainNumber,trainReady,liveEstimateTime,estimateSource
0,KLI,358,FI,DEPARTURE,True,True,1,False,2023-03-06T17:42:00.000Z,2023-03-06T17:45:28.000Z,3.0,[],276,"{'source': 'KUPLA', 'accepted': True, 'timesta...",NaN,NaN
1,SPJ,796,FI,ARRIVAL,False,NaN,,False,2023-03-06T17:59:00.000Z,2023-03-06T18:01:41.000Z,3.0,[],276,NaN,NaN,NaN
2,SPJ,796,FI,DEPARTURE,False,NaN,,False,2023-03-06T17:59:00.000Z,2023-03-06T18:01:41.000Z,3.0,[],276,NaN,NaN,NaN
3,PEL,356,FI,ARRIVAL,True,True,1,False,2023-03-06T18:29:00.000Z,2023-03-06T18:29:37.000Z,1.0,[],276,NaN,NaN,NaN
4,PEL,356,FI,DEPARTURE,True,True,1,False,2023-03-06T18:32:00.000Z,2023-03-06T18:35:00.000Z,3.0,[],276,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1641,ILR,1030,FI,ARRIVAL,True,True,709,False,2023-03-07T09:25:00.000Z,NaN,NaN,[],60276,NaN,NaN,NaN
1642,HKI,1,FI,DEPARTURE,True,True,9,False,2023-03-07T09:40:00.000Z,NaN,NaN,[],60950,NaN,NaN,NaN
1643,PSL,10,FI,ARRIVAL,False,NaN,,False,2023-03-07T09:45:00.000Z,NaN,NaN,[],60950,NaN,NaN,NaN
1644,PSL,10,FI,DEPARTURE,False,NaN,,False,2023-03-07T09:45:00.000Z,NaN,NaN,[],60950,NaN,NaN,NaN
1645,ILR,1030,FI,ARRIVAL,True,True,601,False,2023-03-07T09:55:00.000Z,NaN,NaN,[],60950,NaN,NaN,NaN

#### Tehtävä 5. Pudota sitten seuraavat sarakkeet datasta: `causes`, `estimateSource`, `liveEstimateTime`, `differenceInMinutes`, `commercialStop` ja `trainReady`

In [38]:
#
train_l.drop(["causes","estimateSource","liveEstimateTime","differenceInMinutes","commercialStop","trainReady"], inplace=True, axis=1)
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,KLI,358,FI,DEPARTURE,True,1,False,2023-03-06T17:42:00.000Z,2023-03-06T17:45:28.000Z,276
1,SPJ,796,FI,ARRIVAL,False,,False,2023-03-06T17:59:00.000Z,2023-03-06T18:01:41.000Z,276
2,SPJ,796,FI,DEPARTURE,False,,False,2023-03-06T17:59:00.000Z,2023-03-06T18:01:41.000Z,276
3,PEL,356,FI,ARRIVAL,True,1,False,2023-03-06T18:29:00.000Z,2023-03-06T18:29:37.000Z,276
4,PEL,356,FI,DEPARTURE,True,1,False,2023-03-06T18:32:00.000Z,2023-03-06T18:35:00.000Z,276
...,...,...,...,...,...,...,...,...,...,...
1641,ILR,1030,FI,ARRIVAL,True,709,False,2023-03-07T09:25:00.000Z,NaN,60276
1642,HKI,1,FI,DEPARTURE,True,9,False,2023-03-07T09:40:00.000Z,NaN,60950
1643,PSL,10,FI,ARRIVAL,False,,False,2023-03-07T09:45:00.000Z,NaN,60950
1644,PSL,10,FI,DEPARTURE,False,,False,2023-03-07T09:45:00.000Z,NaN,60950
1645,ILR,1030,FI,ARRIVAL,True,601,False,2023-03-07T09:55:00.000Z,NaN,60950

#### Tehtävä 6. Täytä jokaisen rivin sarakkeen `actualTime` puuttuvat arvot `scheduledTime` -sarakkeen arvolla.

In [39]:
#
train_l['actualTime'].fillna(inplace=True,value=train_l['scheduledTime'])
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,KLI,358,FI,DEPARTURE,True,1,False,2023-03-06T17:42:00.000Z,2023-03-06T17:45:28.000Z,276
1,SPJ,796,FI,ARRIVAL,False,,False,2023-03-06T17:59:00.000Z,2023-03-06T18:01:41.000Z,276
2,SPJ,796,FI,DEPARTURE,False,,False,2023-03-06T17:59:00.000Z,2023-03-06T18:01:41.000Z,276
3,PEL,356,FI,ARRIVAL,True,1,False,2023-03-06T18:29:00.000Z,2023-03-06T18:29:37.000Z,276
4,PEL,356,FI,DEPARTURE,True,1,False,2023-03-06T18:32:00.000Z,2023-03-06T18:35:00.000Z,276
...,...,...,...,...,...,...,...,...,...,...
1641,ILR,1030,FI,ARRIVAL,True,709,False,2023-03-07T09:25:00.000Z,2023-03-07T09:25:00.000Z,60276
1642,HKI,1,FI,DEPARTURE,True,9,False,2023-03-07T09:40:00.000Z,2023-03-07T09:40:00.000Z,60950
1643,PSL,10,FI,ARRIVAL,False,,False,2023-03-07T09:45:00.000Z,2023-03-07T09:45:00.000Z,60950
1644,PSL,10,FI,DEPARTURE,False,,False,2023-03-07T09:45:00.000Z,2023-03-07T09:45:00.000Z,60950
1645,ILR,1030,FI,ARRIVAL,True,601,False,2023-03-07T09:55:00.000Z,2023-03-07T09:55:00.000Z,60950

## Vaihe 2

#### Tehtävä 7. Pura tämän kansion sisällä olevan `data.html` -tiedoston `table`-elementin solujen arvot käyttäen regex-syntaksia ja yhdistä ne vaiheessa 1 luotuun dataframeen. Huom: tehtävässä tulee käyttää vain regexiä (Esim. Pandasin read_html()-metodin käyttö on kielletty)!

In [3]:
import re
import urllib.request

In [7]:


url = 'file:///C:/Users/Jouni/Documents/Sanni/Ohjelmistoalan%20osaaja%202023/AIDA/ttc8030-harjoitukset/harjoitustyo/data.html'
html = urllib.request.urlopen(url).read()
html = html.decode()
# pattern = r'<th>(.*)</th>' tht
# pattern = r'<td>\s+(.*?)\s+</td>' kaikki tdt
tds = re.findall(pattern, html)
tds

# first_column = [7,2] 
# second_column = ["value1", "value2"]
# third_colulmn =[0,1]
# fourth_column = [6,23]
# fifth_column = [6,21]
# sixth_column = [5,23]
# seventh_column = [7,23]
# eight_column = [4,3]
# nineth_column = [9,77]
# tenth_column = [5,93]

# generated_dataframe = pd.DataFrame({tds[0]:first_column, tds[1]:second_column, tds[2]:third_colulmn, tds[3]:fourth_column,tds[4]:fifth_column,tds[5]:sixth_column,tds[6]:seventh_column,tds[7]:eight_column,tds[8]:nineth_column,tds[9]:tenth_column})

# generated_dataframe

# for line in tds:
#     line = line.decode()
#     print(line)
    
# re_pattern = r'table
# re_search = re.findall(re_pattern, line)
# re_search
# text = html.decode()

# text = html.read()
# text = text.decode()

# result = re.findall(r'<th>(.*?)</th>',text)

['2019-08-06T04:48:00.000Z',
 'False',
 '',
 'FI',
 '2019-08-06T04:48:00.000Z',
 'JVS',
 '1272',
 'False',
 'DEPARTURE',
 '150',
 '2019-08-06T06:04:39.000Z',
 'False',
 '',
 'FI',
 '2019-08-06T06:04:39.000Z',
 'R702',
 '98998',
 'False',
 'ARRIVAL',
 '150',
 '2019-08-06T07:03:12.000Z',
 'False',
 '',
 'FI',
 '2019-08-06T07:03:12.000Z',
 'ILA',
 '98998',
 '9',
 'ARRIVAL',
 '8337']

## Vaihe 3

#### Tehtävä 8. Tee SQLite tietokanta ja lisää sinne vaiheen 2 tuloksena saatu dataframe.

In [7]:
#