## Harjoitustyö

## Vaihe 1

#### Tehtävä 1. Hae Digitrafficin REST-rajapintapalvelusta (JSON-formaatissa) aktiiviset junat pääteosoitteella `/live-trains` Helsingin asemalta, joiden hakuparametrit ovat seuraavat:
* arrived_trains=10
* departed_trains=10
* include_nonstopping=False

In [1]:
import requests
import pandas as pd

In [8]:
url = "https://rata.digitraffic.fi/api/v1"
endpoint = "/live-trains"
station = "/station/HKI"
search_train = "?arrived_trains=10&departed_trains=10&include_nonstopping=False"

url2 = f"{url}{endpoint}{station}{search_train}"

req = requests.get(url2)
# req.status_code

train_info = req.json()
#train_info

#### Tehtävä 2. Tämän jälkeen lue kyseinen data Pandasin dataframeen ilman muokkaamista, jolloin sarakkeiden otsikot ovat seuraavanlaiset:

 `cancelled`,
 `commuterLineID`,
 `departureDate`,
 `operatorShortCode`,
 `operatorUICCode`,
 `runningCurrently`,
 `timeTableRows`,
 `timetableAcceptanceDate`,
 `timetableType`,
 `trainCategory`,
 `trainNumber`,
 `trainType`,
 `version`

In [9]:
#
train_df = pd.DataFrame(train_info)
train_df

,trainNumber,departureDate,operatorUICCode,operatorShortCode,trainType,trainCategory,commuterLineID,runningCurrently,cancelled,version,timetableType,timetableAcceptanceDate,timeTableRows
0,67,2023-03-14,10,vr,S,Long-distance,,False,False,285115745778,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
1,87,2023-03-14,10,vr,IC,Long-distance,,True,False,285115927941,REGULAR,2022-08-15T06:10:16.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
2,8106,2023-03-14,10,vr,HL,Commuter,A,False,True,285114374671,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'LPV', 'stationUICCode':..."
3,8114,2023-03-14,10,vr,HL,Commuter,A,True,False,285115918884,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'LPV', 'stationUICCode':..."
4,8117,2023-03-14,10,vr,HL,Commuter,A,False,False,285115935797,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
5,8121,2023-03-14,10,vr,HL,Commuter,A,False,False,285115931662,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
6,8350,2023-03-14,10,vr,HL,Commuter,E,False,False,285115831126,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KLH', 'stationUICCode':..."
7,8466,2023-03-14,10,vr,HL,Commuter,U,True,False,285115919847,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KKN', 'stationUICCode':..."
8,8471,2023-03-14,10,vr,HL,Commuter,U,True,False,285115935078,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
9,8666,2023-03-14,10,vr,HL,Commuter,P,False,False,285115880577,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
10,8667,2023-03-14,10,vr,HL,Commuter,P,True,False,285115922522,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
11,8673,2023-03-14,10,vr,HL,Commuter,P,True,False,285115918884,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
12,8674,2023-03-14,10,vr,HL,Commuter,P,True,False,285115931662,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
13,8675,2023-03-14,10,vr,HL,Commuter,P,False,False,285115872068,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
14,8861,2023-03-14,10,vr,HL,Commuter,I,False,False,285115858424,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
15,8862,2023-03-14,10,vr,HL,Commuter,I,False,False,285115919847,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
16,8869,2023-03-14,10,vr,HL,Commuter,I,True,False,285115933937,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
17,8870,2023-03-14,10,vr,HL,Commuter,I,True,False,285115917050,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
18,9134,2023-03-14,10,vr,HL,Commuter,K,False,False,285115842167,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
19,9138,2023-03-14,10,vr,HL,Commuter,K,False,False,285115924052,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'KE', 'stationUICCode': ..."
20,9157,2023-03-14,10,vr,HL,Commuter,K,True,False,285115925755,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
21,9159,2023-03-14,10,vr,HL,Commuter,K,True,False,285115931663,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
22,9163,2023-03-14,10,vr,HL,Commuter,K,False,False,285115901733,REGULAR,2022-12-15T06:04:43.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
23,9670,2023-03-14,10,vr,HL,Commuter,R,False,False,285115927941,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'RI', 'stationUICCode': ..."
24,9679,2023-03-14,10,vr,HL,Commuter,R,False,True,285114797428,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
25,9681,2023-03-14,10,vr,HL,Commuter,R,True,False,285115935078,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'HKI', 'stationUICCode':..."
26,64020,2023-03-14,10,vr,W,Shunting,,False,False,285115879913,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'ILR', 'stationUICCode':..."
27,64022,2023-03-14,10,vr,W,Shunting,,True,False,285115901091,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'ILR', 'stationUICCode':..."
28,64122,2023-03-14,10,vr,W,Shunting,,False,False,285115891032,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'ILR', 'stationUICCode':..."
29,64420,2023-03-14,10,vr,W,Shunting,,False,False,285115851011,REGULAR,2022-11-03T06:29:25.000Z,"[{'stationShortCode': 'ILR', 'stationUICCode':..."

#### Tehtävä 3. Poista kaikki muut sarakkeet paitsi `timeTableRows` ja `trainNumber`

In [10]:
#
# train_pd = train_pd[(train_pd["timeTableRows"]) & (train_pd["trainNumber"])]
# train_pd
train_df = train_df.loc[:,["trainNumber","timeTableRows"]]
train_df

    trainNumber                                      timeTableRows
0            67  [{'stationShortCode': 'HKI', 'stationUICCode':...
1            87  [{'stationShortCode': 'HKI', 'stationUICCode':...
2          8106  [{'stationShortCode': 'LPV', 'stationUICCode':...
3          8114  [{'stationShortCode': 'LPV', 'stationUICCode':...
4          8117  [{'stationShortCode': 'HKI', 'stationUICCode':...
5          8121  [{'stationShortCode': 'HKI', 'stationUICCode':...
6          8350  [{'stationShortCode': 'KLH', 'stationUICCode':...
7          8466  [{'stationShortCode': 'KKN', 'stationUICCode':...
8          8471  [{'stationShortCode': 'HKI', 'stationUICCode':...
9          8666  [{'stationShortCode': 'HKI', 'stationUICCode':...
10         8667  [{'stationShortCode': 'HKI', 'stationUICCode':...
11         8673  [{'stationShortCode': 'HKI', 'stationUICCode':...
12         8674  [{'stationShortCode': 'HKI', 'stationUICCode':...
13         8675  [{'stationShortCode': 'HKI', 'stationUICCode':...
14         8861  [{'stationShortCode': 'HKI', 'stationUICCode':...
15         8862  [{'stationShortCode': 'HKI', 'stationUICCode':...
16         8869  [{'stationShortCode': 'HKI', 'stationUICCode':...
17         8870  [{'stationShortCode': 'HKI', 'stationUICCode':...
18         9134  [{'stationShortCode': 'KE', 'stationUICCode': ...
19         9138  [{'stationShortCode': 'KE', 'stationUICCode': ...
20         9157  [{'stationShortCode': 'HKI', 'stationUICCode':...
21         9159  [{'stationShortCode': 'HKI', 'stationUICCode':...
22         9163  [{'stationShortCode': 'HKI', 'stationUICCode':...
23         9670  [{'stationShortCode': 'RI', 'stationUICCode': ...
24         9679  [{'stationShortCode': 'HKI', 'stationUICCode':...
25         9681  [{'stationShortCode': 'HKI', 'stationUICCode':...
26        64020  [{'stationShortCode': 'ILR', 'stationUICCode':...
27        64022  [{'stationShortCode': 'ILR', 'stationUICCode':...
28        64122  [{'stationShortCode': 'ILR', 'stationUICCode':...
29        64420  [{'stationShortCode': 'ILR', 'stationUICCode':...

#### Tehtävä 4. Tämän jälkeen pura `timeTableRows` sarakkeen arvot jokaisesta junasta erikseen (sarakkeen arvo jokaiselle junalle sisältää useampia JSON-objekteja) ja lisää dataan mukaan junan tiedot yksilöivä `trainNumber`

In [6]:
#

t_list = []

for i in train_df["timeTableRows"]:
    for j in i:
        t_list.append(j)
# t_list
train_l = pd.DataFrame(t_list)    
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialStop,commercialTrack,cancelled,scheduledTime,actualTime,differenceInMinutes,causes,trainNumber,trainReady,liveEstimateTime,estimateSource
0,HKI,1,FI,DEPARTURE,True,True,8,False,2023-03-14T12:03:00.000Z,2023-03-14T12:03:57.000Z,1.0,[],87,"{'source': 'KUPLA', 'accepted': True, 'timesta...",NaN,NaN
1,PSL,10,FI,ARRIVAL,True,True,3,False,2023-03-14T12:08:00.000Z,2023-03-14T12:08:29.000Z,0.0,[],87,NaN,NaN,NaN
2,PSL,10,FI,DEPARTURE,True,True,3,False,2023-03-14T12:09:00.000Z,NaN,0.0,[],87,NaN,2023-03-14T12:09:18.000Z,COMBOCALC
3,KÄP,977,FI,ARRIVAL,False,NaN,,False,2023-03-14T12:11:00.000Z,NaN,0.0,[],87,NaN,2023-03-14T12:11:20.000Z,COMBOCALC
4,KÄP,977,FI,DEPARTURE,False,NaN,,False,2023-03-14T12:11:00.000Z,NaN,0.0,[],87,NaN,2023-03-14T12:11:20.000Z,COMBOCALC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1247,HKI,1,FI,ARRIVAL,True,True,4,False,2023-03-14T12:15:00.000Z,NaN,-1.0,[],64122,NaN,2023-03-14T12:13:08.000Z,COMBOCALC
1248,ILR,1030,FI,DEPARTURE,True,True,774,False,2023-03-14T11:54:00.000Z,2023-03-14T11:54:38.000Z,1.0,[],64420,NaN,NaN,NaN
1249,PSL,10,FI,ARRIVAL,False,NaN,7,False,2023-03-14T12:04:00.000Z,2023-03-14T11:59:27.000Z,-5.0,[],64420,NaN,NaN,NaN
1250,PSL,10,FI,DEPARTURE,False,NaN,7,False,2023-03-14T12:04:00.000Z,2023-03-14T11:59:40.000Z,-4.0,[],64420,NaN,NaN,NaN
1251,HKI,1,FI,ARRIVAL,True,True,8,False,2023-03-14T12:09:00.000Z,2023-03-14T12:07:30.000Z,-1.0,[],64420,NaN,NaN,NaN

#### Tehtävä 5. Pudota sitten seuraavat sarakkeet datasta: `causes`, `estimateSource`, `liveEstimateTime`, `differenceInMinutes`, `commercialStop` ja `trainReady`

In [11]:
#
train_l.drop(["causes","estimateSource","liveEstimateTime","differenceInMinutes","commercialStop","trainReady"], inplace=True, axis=1)
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,HKI,1,FI,DEPARTURE,True,8,False,2023-03-14T12:03:00.000Z,2023-03-14T12:03:57.000Z,87
1,PSL,10,FI,ARRIVAL,True,3,False,2023-03-14T12:08:00.000Z,2023-03-14T12:08:29.000Z,87
2,PSL,10,FI,DEPARTURE,True,3,False,2023-03-14T12:09:00.000Z,NaN,87
3,KÄP,977,FI,ARRIVAL,False,,False,2023-03-14T12:11:00.000Z,NaN,87
4,KÄP,977,FI,DEPARTURE,False,,False,2023-03-14T12:11:00.000Z,NaN,87
...,...,...,...,...,...,...,...,...,...,...
1247,HKI,1,FI,ARRIVAL,True,4,False,2023-03-14T12:15:00.000Z,NaN,64122
1248,ILR,1030,FI,DEPARTURE,True,774,False,2023-03-14T11:54:00.000Z,2023-03-14T11:54:38.000Z,64420
1249,PSL,10,FI,ARRIVAL,False,7,False,2023-03-14T12:04:00.000Z,2023-03-14T11:59:27.000Z,64420
1250,PSL,10,FI,DEPARTURE,False,7,False,2023-03-14T12:04:00.000Z,2023-03-14T11:59:40.000Z,64420
1251,HKI,1,FI,ARRIVAL,True,8,False,2023-03-14T12:09:00.000Z,2023-03-14T12:07:30.000Z,64420

#### Tehtävä 6. Täytä jokaisen rivin sarakkeen `actualTime` puuttuvat arvot `scheduledTime` -sarakkeen arvolla.

In [12]:
#
train_l['actualTime'].fillna(inplace=True,value=train_l['scheduledTime'])
train_l

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,HKI,1,FI,DEPARTURE,True,8,False,2023-03-14T12:03:00.000Z,2023-03-14T12:03:57.000Z,87
1,PSL,10,FI,ARRIVAL,True,3,False,2023-03-14T12:08:00.000Z,2023-03-14T12:08:29.000Z,87
2,PSL,10,FI,DEPARTURE,True,3,False,2023-03-14T12:09:00.000Z,2023-03-14T12:09:00.000Z,87
3,KÄP,977,FI,ARRIVAL,False,,False,2023-03-14T12:11:00.000Z,2023-03-14T12:11:00.000Z,87
4,KÄP,977,FI,DEPARTURE,False,,False,2023-03-14T12:11:00.000Z,2023-03-14T12:11:00.000Z,87
...,...,...,...,...,...,...,...,...,...,...
1247,HKI,1,FI,ARRIVAL,True,4,False,2023-03-14T12:15:00.000Z,2023-03-14T12:15:00.000Z,64122
1248,ILR,1030,FI,DEPARTURE,True,774,False,2023-03-14T11:54:00.000Z,2023-03-14T11:54:38.000Z,64420
1249,PSL,10,FI,ARRIVAL,False,7,False,2023-03-14T12:04:00.000Z,2023-03-14T11:59:27.000Z,64420
1250,PSL,10,FI,DEPARTURE,False,7,False,2023-03-14T12:04:00.000Z,2023-03-14T11:59:40.000Z,64420
1251,HKI,1,FI,ARRIVAL,True,8,False,2023-03-14T12:09:00.000Z,2023-03-14T12:07:30.000Z,64420

## Vaihe 2

#### Tehtävä 7. Pura tämän kansion sisällä olevan `data.html` -tiedoston `table`-elementin solujen arvot käyttäen regex-syntaksia ja yhdistä ne vaiheessa 1 luotuun dataframeen. Huom: tehtävässä tulee käyttää vain regexiä (Esim. Pandasin read_html()-metodin käyttö on kielletty)!

In [13]:
import re
import urllib.request

In [16]:
url = 'file:///C:/Users/sanni/Aida/ttc8030-harjoitukset/harjoitustyo/data.html'
html = urllib.request.urlopen(url).read()
html = html.decode()

pattern = r'<th>(.*)</th>' #th:t
pattern2 = r'<td>\s+(.*?)\s+</td>' #kaikki td:t
ths = re.findall(pattern, html)
tds = re.findall(pattern2, html)
# ths
# tds

actualtime = tds[::10]
cancelled = tds[1::10]
commercialtrack =tds[2::10]
countrycode = tds[3::10]
scheduledtime = tds[4::10]
shortcode = tds[5::10]
uiccode = tds[6::10]
trainstopping = tds[7::10]
ttype = tds[8::10]
trainnumber = tds[9::10]

generated_dataframe = pd.DataFrame({ths[5]:shortcode,
                                    ths[6]:uiccode,
                                   ths[3]:countrycode,
                                    ths[8]:ttype,
                                   ths[7]:trainstopping,
                                   ths[2]:commercialtrack,
                                   ths[1]:cancelled,
                                   ths[4]:scheduledtime,
                                   ths[0]:actualtime,
                                   ths[9]:trainnumber})

# generated_dataframe

combined_df = pd.concat([train_l, generated_dataframe])
combined_df.reset_index(inplace=True,drop=True)
combined_df

,stationShortCode,stationUICCode,countryCode,type,trainStopping,commercialTrack,cancelled,scheduledTime,actualTime,trainNumber
0,HKI,1,FI,DEPARTURE,True,8,False,2023-03-14T12:03:00.000Z,2023-03-14T12:03:57.000Z,87
1,PSL,10,FI,ARRIVAL,True,3,False,2023-03-14T12:08:00.000Z,2023-03-14T12:08:29.000Z,87
2,PSL,10,FI,DEPARTURE,True,3,False,2023-03-14T12:09:00.000Z,2023-03-14T12:09:00.000Z,87
3,KÄP,977,FI,ARRIVAL,False,,False,2023-03-14T12:11:00.000Z,2023-03-14T12:11:00.000Z,87
4,KÄP,977,FI,DEPARTURE,False,,False,2023-03-14T12:11:00.000Z,2023-03-14T12:11:00.000Z,87
...,...,...,...,...,...,...,...,...,...,...
1250,PSL,10,FI,DEPARTURE,False,7,False,2023-03-14T12:04:00.000Z,2023-03-14T11:59:40.000Z,64420
1251,HKI,1,FI,ARRIVAL,True,8,False,2023-03-14T12:09:00.000Z,2023-03-14T12:07:30.000Z,64420
1252,JVS,1272,FI,DEPARTURE,False,,False,2019-08-06T04:48:00.000Z,2019-08-06T04:48:00.000Z,150
1253,R702,98998,FI,ARRIVAL,False,,False,2019-08-06T06:04:39.000Z,2019-08-06T06:04:39.000Z,150
1254,ILA,98998,FI,ARRIVAL,9,,False,2019-08-06T07:03:12.000Z,2019-08-06T07:03:12.000Z,8337

## Vaihe 3

#### Tehtävä 8. Tee SQLite tietokanta ja lisää sinne vaiheen 2 tuloksena saatu dataframe.

In [15]:
#Vielä tämä